<div class="wrapper">
  <div class="vertical-spacer">
  </div>
  <div class="provider-block-show">
    <div class="provider-header">
      <div class="table-responsive">
        <table>
           <tr>
            <td>
              <%= image_tag @provider.picture.url(:thumb) %>
            </td>
            <td class="v-top">
              <h2><%= @provider.name %></h2>
            </td>
           </tr>
        </table>
      </div>
    </div>
    <div class="provider-content">
      <% if @provider.description %>
        <div class="provider-description">
          <h3><%= t('.desc') %></h3>
          <p><%= simple_format @provider.description %></p>
        </div>
      <% end %>
      <% if @provider.activities_description %>
        <div class="provider-activities">
          <h3><%= t('.activities') %></h3>
          <p><%= simple_format @provider.activities_description %></p>
        </div>
      <% end %>
    </div>
    <div class="provider-contact text-center">
      <button class="btn btn-large btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="ga('send', 'event', 'User', 'See providers', 'Show provider contact information button clicked');">
        <%= t('.contact') %>
      </button>
      <div class="collapse" id="collapseExample">
        <div class="well text-left">
          <h4><%= "Contact #{@provider.name}" %></h4>
          <ul>
            <% if @provider.address %>
              <li>
                <%= simple_format @provider.address %>
              </li>
            <% end %>
            <% if @provider.phone %>
              <li>
                <%= simple_format @provider.phone %>
              </li>
            <% end %>
            <% if @provider.email %>
              <li>
                email: <%= link_to(@provider.email, "mailto:#{@provider.email}", {target: "_blank"}) %>
              </li>
            <% end %>
            <% if @provider.website %>
              <li>
                site web: <%= link_to(@provider.website, "http://#{@provider.website}", {target: "_blank"}) %>
              </li>
            <% end %>
          </ul>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalCGU">
              <small><em>Conditions générales d'utilisation</em></small>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal CGU -->
<div class="modal fade" id="modalCGU" tabindex="-1" role="dialog" aria-labelledby="modalCGULabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalCGULabel">Conditions générales d'utilisation</h4>
      </div>
      <div class="modal-body">
        <p dir="ltr">
            Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, explorizers.com, ci-après dénommé l’EDITEUR, met à la
            disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et
            utilise ses services.
        </p>
        <p dir="ltr">
            Toute connexion au site est subordonnée au respect des présentes conditions.
        </p>
        <p dir="ltr">
            Pour l’utilisateur, le simple accès au site de l’EDITEUR aux adresses URL explorizers.com et explorizers.fr implique l’acceptation de l’ensemble des
            conditions décrites ci-après.
        </p>
        <br/>
        <p dir="ltr">
            Propriété intellectuelle
        </p>
        <p dir="ltr">
            La structure générale du site explorizers.com , ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de l'éditeur ou de
            ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site
            explorizers.com, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de explorizers.com et/ou de ses partenaires est strictement
            interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.
        </p>
        <br/>
        <p dir="ltr">
            Accès au site
        </p>
        <p dir="ltr">
            L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de
            l’EDITEUR, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.
        </p>
        <p dir="ltr">
            Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de
            temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou
            téléphonique.
        </p>
        <p dir="ltr">
            La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.
        </p>
        <p dir="ltr">
            Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités.
            L’utilisateur reconnaît et accepte que l’EDITEUR ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur
            ou tout tiers.
        </p>
        <br/>
        <p dir="ltr">
            Liens hypertextes
        </p>
        <p dir="ltr">
            Le site explorizers.com peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous
            font quitter le site explorizers.com.
        </p>
        <p dir="ltr">
            Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’EDITEUR. Aucune autorisation ou demande
            d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Il convient toutefois
            d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, l’EDITEUR se réserve le droit de demander la suppression d’un lien qu’il estime non
            conforme à l’objet du site explorizers.com.
        </p>
        <br/>
        <p dir="ltr">
            Responsabilité de l’éditeur
        </p>
        <p dir="ltr">
            Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.
        </p>
        <p dir="ltr">
            Toutefois, l’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui
            assume la totalité des conséquences pouvant en découler, sans que l’EDITEUR puisse être recherché à ce titre, et sans recours contre ce dernier.
        </p>
        <p dir="ltr">
            L’EDITEUR ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des
            informations et/ou documents disponibles sur ce site.
        </p>
        <br/>
        <p dir="ltr">
            Lien vers d’autres sites et d’autres prestataires
        </p>
        <p dir="ltr">
            Le site contient des liens vers des prestataires tiers et notamment leurs sites internet, lesquels sont détenus et exploités par des revendeurs ou des
            prestataires de service indépendants. En aucun cas, explorizers.com ne saurait être associé aux sites internet des tiers en question.
        </p>
        <p dir="ltr">
            De ce fait, explorizers.com ne peut garantir que l’utilisateur sera satisfait de leurs produits, services ou pratiques commerciales. Il appartient à
            l’utilisateur de faire toutes les vérifications qui semblent nécessaires ou opportunes avant de procéder à une quelconque transaction avec l'un de ces
            tiers.
        </p>
        <br/>
        <p dir="ltr">
            Modification des conditions d’utilisation
        </p>
        <p>
            L’EDITEUR se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions
            du site et/ou de son exploitation.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

