<div class="wrapper">
  <div class="vertical-spacer">
  </div>
  <div class="provider-block">
    <div class="provider-header">
      <div class="table-responsive">
        <table>
           <tr>
            <td>
              <%= image_tag @provider.picture.url(:thumb) %>
            </td>
            <td class="v-top">
              <h2><%= @provider.name %></h2>
            </td>
           </tr>
        </table>
      </div>
    </div>
    <div class="provider-content">
      <% if @provider.description %>
        <div class="provider-description">
          <h3><%= t('.desc') %></h3>
          <p><%= simple_format @provider.description %></p>
        </div>
      <% end %>
      <% if @provider.activities_description %>
        <div class="provider-activities">
          <h3><%= t('.activities') %></h3>
          <p><%= simple_format @provider.activities_description %></p>
        </div>
      <% end %>
    </div>
    <div class="provider-contact text-center">
      <button class="btn btn-large btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="ga('send', 'event', 'button', 'click', 'Show provider contact information button clicked');">
        <%= t('.contact') %>
      </button>
      <div class="collapse" id="collapseExample">
        <div class="well text-left">
          <h4><%= "Contact #{@provider.name}" %></h4>
          <ul>
            <% if @provider.email %>
              <li>
                email: <%= link_to(@provider.email, "mailto:#{@provider.email}", {target: "_blank"}) %>
              </li>
            <% end %>
            <% if @provider.website %>
              <li>
                site web: <%= link_to(@provider.website, "http://#{@provider.website}", {target: "_blank"}) %>
              </li>
            <% end %>
            <% if @provider.phone %>
              <li>
                <%= simple_format @provider.phone %>
              </li>
            <% end %>
            <% if @provider.address %>
              <li>
                <%= simple_format @provider.address %>
              </li>
            <% end %>
            <% if @provider.other %>
              <li>
                <%= simple_format @provider.other %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
