<div role="tabpanel" class="tab-pane active" id="top-from-explorizers">
  <div id="tab-pane-introduction">
    <p>
      Les expériences sont <b>triées par note</b>.
      <br>
      <br>
      Une expérience t'intéresse? <b>Passe la souris dessus</b> pour la localiser, et <b>clique dessus</b> pour en savoir plus</p>
  </div>
  <div id="experiences-filter">
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="experiences-score" value="1" checked>
      <strong>Trier par notes</strong>
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="experiences-popularity" value="2">
      <strong>Trier par popularité (nombre de votes)</strong>
    </label>
  </div>
  <ul id="draggablePanelList" class="list-unstyled experience-block-container top-from-explorizers">
  </ul>
</div>

<div role="tabpanel" class="tab-pane" id="recommended-trip-1">
  <div id="tab-pane-introduction">
    <p>
      <i>Clique sur les noms des expériences pour en savoir plus</i></p>
  </div>
  <div class="tab-description">
    <h4>L'essentiel du Liban en 5-6 jours</h4>
    <h5><i>Au total: 250 km, 5h de route</i></h5>
    <br>
    <p>Les <b>faibles distances</b> et la <b>position centrale de Beyrouth</b> permettent de visiter le Liban tout en restant dans la capitale. La location d’une voiture ou la réservation d’un taxi sur la journée est facile et relativement bon marché.</p>
    <p>On peut diviser 5-6 de voyage au Liban, basé à Beyrouth, comme ceci:</p>
    <ul>
      <li><p><b>2-3 jours à Beyrouth</b>, pour visiter le typique quartier d’<span class="exp-text" data-experience_id="581"><%= link_to "Achrafieh", modal_exp_path(trip.id,581), remote: true %></span> , la Corniche, le <span class="exp-text" data-experience_id="580"><%= link_to "Rawcheh", modal_exp_path(trip.id,580), remote: true %></span>, emblème de la ville, et passer la soirée à <span class="exp-text" data-experience_id="582"><%= link_to "Gemmayzé", modal_exp_path(trip.id,582), remote: true %></span> ou <span class="exp-text" data-experience_id="583"><%= link_to "rue Monnot", modal_exp_path(trip.id,583), remote: true %></span></p></li>
      <li><p><b>1 journée sur la côte nord</b>, incluant Jounieh et la magnifique vue depuis <span class="exp-text" data-experience_id="587"><%= link_to "Notre-Dame du Liban", modal_exp_path(trip.id,587), remote: true %></span>, l’impressionnante <span class="exp-text" data-experience_id="588"><%= link_to "Grotte de Jeita", modal_exp_path(trip.id,588), remote: true %></span> et la <span class="exp-text" data-experience_id="589"><%= link_to "ville de Jbeil", modal_exp_path(trip.id,589), remote: true %>  (Byblos)</span>, tous ces sites étant très proches</p></li>
      <li><p><b>1 journée dans le nord du pays</b>, jusqu’au <span class="exp-text" data-experience_id="595"><%= link_to "village d'Ehden", modal_exp_path(trip.id,595), remote: true %></span>, pour <span class="exp-text" data-experience_id="597"><%= link_to "randonner dans la vallée de Qadisha", modal_exp_path(trip.id,597), remote: true %></span> et voir les <span class="exp-text" data-experience_id="596"><%= link_to "Cèdres de Dieu", modal_exp_path(trip.id,596), remote: true %></span> , emblèmes du pays</p></li>
      <li><p><b>1 journée dans la vallée du Chouf</b>, pour visiter notamment les villages traditionnels de <span class="exp-text" data-experience_id="592"><%= link_to "Beiteddine", modal_exp_path(trip.id,592), remote: true %></span> et <span class="exp-text" data-experience_id="591"><%= link_to "Deir el Qamar", modal_exp_path(trip.id,591), remote: true %></span>, et pourquoi pas pousser jusqu’au <span class="exp-text" data-experience_id="598"><%= link_to "vignoble de Kefraya", modal_exp_path(@trip.id,598), remote: true %></span> pour une dégustation</p></li>
    </ul>
    <br>
    <p><i>Pour des informations à jour sur la sécurité au Liban, rendez-vous sur <a href="http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays/liban-12277/" target="_blank">diplomatie.gouv.fr</a></i></p>
  </div>
  <div class="tab-content">
    <ul id="must-see-list" class="list-unstyled experience-block-container recommended_trip">
    </ul>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="recommended-trip-2">
  <div class="tab-description">
    <div id="tab-pane-introduction">
      <p>
        <i>Clique sur les noms des expériences pour en savoir plus</i></p>
    </div>
    <h4>Le Liban incontournable et authentique en 1 semaine</h4>
    <h5><i>Au total: 400 km, 8h de route</i></h5>
    <br>
    <ul>
      <li><p><b>Jours 1, 2 et 3</b>: à Beyrouth, visitez le typique quartier d’<span class="text-exp" data-experience_id="581"><%= link_to "Achrafieh", modal_exp_path(trip.id,581), remote: true %></span>, la Corniche et le <span class="text-exp" data-experience_id="580"><%= link_to "Rawcheh", modal_exp_path(trip.id,580), remote: true %></span>, et passez la soirée <span class="text-exp" data-experience_id="583"><%= link_to "rue Monnot", modal_exp_path(trip.id,583), remote: true %></span>.</p></li>
      <li><p><b>Jour 4</b> (50km / 1h de route): quittez Beyrouth pour démarrer la journée avec l’impressionnante <span class="text-exp" data-experience_id="588"><%= link_to "Grotte de Jeita", modal_exp_path(trip.id,588), remote: true %></span>. Rejoignez ensuite Jounieh, et montez en téléphérique vers <span class="text-exp" data-experience_id="587"><%= link_to "Notre-Dame du Liban", modal_exp_path(trip.id,587), remote: true %></span> pour son point de vue époustouflant. Continuez vers le nord pour <span class="text-exp" data-experience_id="589"><%= link_to "visiter Jbeil", modal_exp_path(trip.id,589), remote: true %></span> et y passer la nuit.</p></li>
      <li><p><b>Jour 5</b> (80km / 1h30 de route): faites un passage par <span class="text-exp" data-experience_id="593"><%= link_to "Batroun", modal_exp_path(trip.id,593), remote: true %></span>, puis continuez pour visiter <span class="text-exp" data-experience_id="594"><%= link_to "Tripoli", modal_exp_path(trip.id,594), remote: true %></span>, et rendez-vous dans le <span class="text-exp" data-experience_id="595"><%= link_to "village d'Ehden", modal_exp_path(trip.id,595), remote: true %></span> pour y passer la nuit.</p></li>
      <li><p><b>Jour 6</b>: Autour d’Ehden, faites la <span class="text-exp" data-experience_id="597"><%= link_to "randonnée dans la vallée de Qadisha", modal_exp_path(trip.id,597), remote: true %></span>, allez voir les <span class="text-exp" data-experience_id="596"><%= link_to "Cèdres de Dieu", modal_exp_path(trip.id,596), remote: true %></span> et poussez éventuellement jusqu’au Qornet es Sawda, sommet du Liban. Restez dormir à Ehden.</p></li>
      <li><p><b>Jour 7</b>: quittez Ehden tôt, traversez le Liban du nord au sud par les magnifiques routes de montagne (170km, 4h) pour passer l’après-midi dans la vallée du Chouf, notamment les villages de <span class="text-exp" data-experience_id="591"><%= link_to "Deir el Qamar", modal_exp_path(trip.id,591), remote: true %></span> et <span class="text-exp" data-experience_id="592"><%= link_to "Beiteddine", modal_exp_path(trip.id,592), remote: true %></span>. Puis retournez à Beyrouth boire un dernier verre à <span class="text-exp" data-experience_id="582"><%= link_to "Gemmayzé", modal_exp_path(trip.id,590), remote: true %></span>!</p></li><br>
      <li><p>NB: la visite de <span class="text-exp" data-experience_id="581"><%= link_to "Baalbek", modal_exp_path(trip.id,590), remote: true %></span> est volontairement écartée de cet itinéraire, en attendant que le contexte sécuritaire s'améliore dans cette région.</p></li>
    </ul>
    <br>
    <p><i>Pour des informations à jour sur la sécurité au Liban, rendez-vous sur <a href="http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays/liban-12277/" target="_blank">diplomatie.gouv.fr</a></i></p>
  </div>
  <div class="tab-content">
    <ul id="must-see-list" class="list-unstyled experience-block-container recommended_trip">
    </ul>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="user-experiences-selection">
  <div id="tab-pane-introduction">
    <p>Voici tes expériences sélectionnées! Supprime-les ou réorganise-les dans le bon ordre.</p><br>
  </div>
  <ul id="draggablePanelList" class="list-unstyled experience-block-container user-experiences-content">
  </ul>
  <div id="see-trip-summary" class="button-action update-order">
    <%= link_to summarize_trip_path(trip), target: "_blank", onclick: "ga('send', 'event', 'User', 'See trip summary', 'Show trip summary button clicked');", class: "btn btn-success btn-block", data: {toggle: "tooltip", placement: "bottom",  title: "Voir la synthèse de mon trip et me l'envoyer par mail", json: 'data'} do %>
    Voir la synthèse éditable et recevoir par email
    <% end %>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="help-menu">
  <div class="tab-description">
    <h5><i>A tout moment, tu peux <a href="http://www.explorizers.com/destinations/1" target="_blank" class="text-center">retourner sur la page de présentation du Liban</a></i></h5>
    <h4>Comment ça marche?</h4>
    <br>
    <p>
      <strong>1. Explore les POINTS D'INTERET du Liban</strong><br>
      <br>
      <%= image_tag 'http://philae-floju.s3.amazonaws.com/markers/top_2.png'%> indique les points d'intérêt au Liban.
      <br>
      <%= image_tag 'http://philae-floju.s3.amazonaws.com/markers/top_must_see.png'%> indique les <b>incontournables</b>!
      <br>
      <br>
      <i class="fa fa-heart-o"></i> permet de sélectionner les points d'intérêt que tu veux retenir
      <br>
      <i class="fa fa-heart red"></i> indique que le point d'intérêt est bien sélectionné!
      <br>
      <br>
      Jette un oeil aux itinéraires suggérés
    </p>
    <br>
    <p>
      <strong>2. Récupère ton PARCOURS</strong><br>
      <ul>
        <li><p>Retrouve les expériences sélectionnées, et affine ton itinéraire</p></li>
        <li><p>Accède ensuite au résumé de ton voyage, et reçois-le par email</p></li>
      </ul>
    </p>
    <br>
    <p>
      <strong>3. Partage avec tes amis pour avoir leurs conseils</strong><br>
      <table>
        <tbody>
          <td>
            <div id="share-bt" class="button-action update-order">
              <a class="btn btn-facebook" id="sharefb" onclick="ga('send', 'event', 'User', 'Ask advice', 'Ask on facebook button clicked');", data: {toggle: "tooltip"}, placement: "bottom">
                      Partager sur Facebook
              </a>
            </div>
          </td>
          <td>ou</td>
          <td>
            <div id="share-bt" class="button-action update-order">
              <%= form_for @trip, url: share_trip_path(@trip.id), remote: true do |f| %>
                <%= hidden_field_tag :id, value = @trip.id %>
                <%= f.submit( "Demander par email", onclick: "ga('send', 'event', 'User', 'Ask advice', 'Ask with email button clicked');", class:'btn btn-success') %>
              <% end %>
            </div>
          </td>
        </tbody>
      </table>
    </p>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="user-guest-comments">
  <p>
    <i>Pas encore de conseils? Pour que tes amis les ajoutent sur ta carte, clique sur:</i>
  </p>

  <table>
    <tbody>
      <td>
        <div id="share-bt" class="button-action update-order">
          <a class="btn btn-facebook" id="sharefb" onclick="ga('send', 'event', 'User', 'Ask advice', 'Ask on facebook button clicked');", data: {toggle: "tooltip"}, placement: "bottom">
                  Partager sur Facebook
          </a>
        </div>
      </td>
      <td>ou</td>
      <td>
        <div id="share-bt" class="button-action update-order">
          <%= form_for @trip, url: share_trip_path(@trip.id), remote: true do |f| %>
            <%= hidden_field_tag :id, value = @trip.id %>
            <%= f.submit( "Demander par email", onclick: "ga('send', 'event', 'User', 'Ask advice', 'Ask with email button clicked');", class:'btn btn-success') %>
          <% end %>
        </div>
      </td>
    </tbody>
  </table>
  <br>

  <p class="text-center">
    <b>Ci-dessous, voici les conseils de tes amis. Ajoute-les à ton voyage en cliquant dessus.</b>
  </p>


  <ul id="draggablePanelList" class="list-unstyled experience-block-container guest-comments-content">
  </ul>
</div>

<% content_for(:after_js) do %>
  <script>
  // $('a[aria-controls="user-guest-comments"]').on('shown.bs.tab', function (e) {
    publishPostOnFbWall("#sharefb", "<%= j share_url("/trips/#{@trip.id}/#{@trip.token}") %>");
  // });
  </script>
<% end %>

<!-- <div role="tabpanel" class="tab-pane" id="destination-overview">
  <h4>Le Liban en 5 phrases</h4>
  <ol>
    <li><p>Le Liban est un <b>petit pays</b>: tous les poins d'intérêts sont à moins de 2h de route de Beyrouth.</p></li>
    <li><p>C'est un pays riche de <b>5 000 ans d'histoire</b>, et de <b>diversité géographique</b>: dans une même journée, on peut skier le matin, déjeuner dans une vallée verdoyante, finir l'après-midi à la plage, et passer la soirée à Beyrouth.</p></li>
    <li><p>Sa spécificité tient également à sa <b>mosaïque culturelle et religieuse</b>, qui a donné lieu à de graves conflits, et qui fait du Liban un pays toujours sous tension.</p></li>
    <li><p>Un pays où l'<b>on aime vivre vite</b>, tout de suite, et s'amuser: Beyrouth est la ville la plus festive du monde arabe, la gastronomie est divine, la scène culturelle est florissante, et la musique fait référence dans tout le monde arabe.</p></li>
    <li><p>Le Liban, riche de son patrimoine et de son multiculturalisme, petit pays dans un environnement interne et voisin tendu, très ouvert sur le monde et assoiffé de progrès, est <b>un voyage marquant</b> et profondément attachant.</p></li>
  </ol>
  <h4>Quand visiter?</h4>
  <ul>
    <li><p>En été: pas de pluie, températures confortables (20° à 30°C) - mais c'est la haute saison: il y a foule et les tarifs sont plus élevés</p></li>
    <li><p>Printemps et automne: plus frais, mais moins fréquenté et les hébergements sont moins chers</p></li>
    <li><p>En hiver: il fait frais (10-15°C) sur la côte, et il neige en altitude, les stations de ski vous attendent!</p></li>
  </ul>
  <h4>Entrer au Liban</h4>
  <ul>
    <li><p><b>Visa obligatoire</b> pour les Français, délivré à l'arrivée (passeport valable 6 mois minimum)</p></li>
    <li><p>Le <b>visa peut être refusé</b> si la douane découvre un passage antérieur (tampon israélien sur le passeport) ou futur (billets d'avion par exemple) en Israël.</p></li>
  </ul>
  <h4>4 choses à savoir</h4>
  <ul>
    <li><p>La monnaie officielle est la livre libanaise, mais le dollar US est largement accepté</p></li>
    <li><p>La langue officielle est l'arabe - l'anglais et le français sont très répandus</p></li>
    <li><p>Deux sujets tabous: Israël et la Syrie</p></li>
    <li><p>Les prises sont les mêmes qu'en France</p></li>
  </ul>
  <h4>Comment circuler?</h4>
  <p>Pas de transport aérien ni ferroviaire: tous les transports internes se font <b>par la route</b>:</p>
  <ul>
    <li><p>Taxis rattachés à des sociétés de taxi: il faut les appeler à l'avance; le tarif est déterminé par le compteur, ou en avance directement avec le chauffeur; on peut les réserver pour la journée</p></li>
    <li><p>Taxis sans compteur: le prix est fixé à l'avance par le conducteur; on peut les réserver pour la journée</p></li>
    <li><p>La location de voiture est abordable, mais la conduite est... sportive</p></li>
    <li><p>Le car: le réseau est vaste, bien organisé, et peu onéreux</p></li>
  </ul>
  <h4>Sécurité</h4>
  <p>Le <a href="http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays/liban-12277/" target="_blank">Ministère français des Affaires étrangères</a> déconseille de se rendre dans le sud du pays (au sud de Tyr), près des frontières avec la Syrie, dans la Plaine de la Bekaa, dans les banlieues sud de Beyrouth, à Tripoli, et dans les camps de réfugiés palestiniens près de Saida. Rendez-vous sur <a href="http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays/liban-12277/" target="_blank">diplomatie.gouv.fr</a> pour les informations les plus récentes.</p>
</div>
<div role="tabpanel" class="tab-pane" id="must-see">
  <div class="tab-description">
    <h4>Les incontournables du Liban</h4>
    <p>Voici les incontournables, les grands classiques du Liban à ne pas rater. Ajoute-les à ton itinéraire pour commencer à construire ton voyage!</p><br>
    <ul>
      <span class="exp-text" data-experience_id="583">
        <li><p><b><%= link_to "Faire la fête à Beyrouth  ", modal_exp_path(trip.id,583), remote: true %></b><i class="fa fa-star-o"></i>
        <br>Vous visiterez bien d’autres choses à Beyrouth, mais on garde en particulier de bons souvenirs de sa vie nocturne. Un passage par <%= link_to "la rue Monnot", modal_exp_path(trip.id,583), remote: true %> garantit une soirée / nuit réussie.</p></li>
      </span>
      <span class="exp-text" data-experience_id="589">
        <li><p><b><%= link_to "Visiter Jbeil, l'ancienne Byblos  ", modal_exp_path(trip.id,589), remote: true %></b><i class="fa fa-star-o"></i><br>
        Plus au nord et plus au calme, ne manquez pas Jbeil, port de pêche entouré de ruines romaines et croisées, l’une des plus belles villes du Liban.</p></li>
      </span>
      <span class="exp-text" data-experience_id="592">
        <li><p><b><%= link_to "La Vallée du Chouf  ", modal_exp_path(trip.id,592), remote: true %></b><i class="fa fa-star-o"></i><br>
        Pour le Liban pittoresque, direction la vallée du Chouf, et notamment le <%= link_to "village de Beiteddine", modal_exp_path(trip.id,592), remote: true %>.</p></li>
      </span>
      <span class="exp-text" data-experience_id="588">
        <li><p><b><%= link_to "Grotte de Jeita  ", modal_exp_path(trip.id,588), remote: true %></b><i class="fa fa-star-o"></i><br>
        Qu’on soit fan de géologie ou non, l'immense grotte de Jeita doit faire partie du voyage. C’est le site naturel le plus étonnant de la région.</p></li>
      </span>
      <span class="exp-text" data-experience_id="597">
        <li><p><b><%= link_to "Randonnée dans la vallée sainte de Qadisha  ", modal_exp_path(trip.id,597), remote: true %></b><i class="fa fa-star-o"></i><br>
        C'est l'étape nature et culture, car la vallée de Qadisha abrite des monastères cachés, datant des débuts du christianisme. Tout proche, vous irez rendre visite aux <%= link_to "Cèdres de Dieu", modal_exp_path(trip.id,596), remote: true %>, emblèmes du Liban.</p></li>
      </span>
      <span class="exp-text" data-experience_id="590">
        <li><p><b><%= link_to "Site antique de Baalbek  ", modal_exp_path(trip.id,590), remote: true %></b><i class="fa fa-star-o"></i><br>
        Si la question de la sécurité ne se posait pas (voir les recommandations du Ministère des Affaires étrangères), les férus d’archéologie ne devraient pas passer à côté de Baalbek, qui compte parmi les ruines gréco-romaines les mieux conservées au monde.</p></li>
      </span>
    </ul>
  </div>
  <div class="tab-content">
    <ul id="must-see-list" class="list-unstyled experience-block-container must-see">
    </ul>
  </div>
</div> -->
