<div role="tabpanel" class="tab-pane active" id="destination-overview">
  <p><%= destination.name %></p>
  <p><%= destination.overview %></p>
  <p><%= destination.formalities %></p>
  <p><%= destination.regions %></p>
  <p><%= destination.transportation %></p>
</div>
<div role="tabpanel" class="tab-pane" id="must-see">
  <div class="tab-description">
  Voici la liste des expériences qui font l'unamité auprès des guides de voyages. Ajoute les à ton itinéraire pour commencer à construire ton voyage !
  </div>
  <div class="tab-content">
    <ul id="must-see-list" class="list-unstyled experience-block-container must-see">

    </ul>
  </div>
</div>
<div role="tabpanel" class="tab-pane" id="recommended-trip-1">Lister trip 1</div>
<div role="tabpanel" class="tab-pane" id="recommended-trip-2">Lister trip 2</div>
<div role="tabpanel" class="tab-pane" id="top-from-explorizers">
  Lister les expériences
  <ul id="draggablePanelList" class="list-unstyled experience-block-container top-from-explorizers">
  </ul>
</div>