<div role="tabpanel" class="tab-pane active" id="top-from-explorizers">
  <div id="tab-pane-introduction">
    <p>
      Voici les meilleures expériences,<b> triées par note</b>.
      <br>
    </p>
    <div class="filters-block text-center">
      <!-- <p class='filters-title'>Catégories</p> -->
      <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12 no-padding"> -->
            <!-- <div class="btn-group btn-group-block btn-group-justified" role="group" aria-label="Category selection"> -->
            <div>
              <a id="must" href="#" class="btn no-border btn-default category-btn btn-block" role="button">
                <i class="fa fa-star"></i>
                <span class="hidden-xs">Incontournables</span>
              </a>
            </div>
            <div>
              <a id="otbt" href="#" class="btn no-border btn-default category-btn btn-block" role="button">
                <i class="fa fa-compass"></i>
                <span class="hidden-xs">Hors des sentiers battus</span>
              </a>
            </div>
            <div>
              <a id="relax" href="#" class="btn no-border btn-default category-btn btn-block" role="button">
                <i class="fa fa-glass"></i>
                <span class="hidden-xs">Détente</span>
              </a>
            </div>
            <div>
              <a id="culture" href="#" class="btn no-border btn-default category-btn btn-block" role="button">
                <i class="fa fa-university"></i>
                <span class="hidden-xs">Culture</span>
              </a>
            </div>
            <div>
              <a id="sport" href="#" class="btn no-border btn-default category-btn btn-block" role="button">
                <i class="fa fa-bicycle"></i>
                <span class="hidden-xs">Sport</span>
              </a>
            </div>
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <ul id="draggablePanelList" class="list-unstyled experience-block-container top-from-explorizers">
  </ul>
</div>
<div role="tabpanel" class="tab-pane" id="user-guest-comments">
  <p>
    <i>Pas encore de conseils ? Pour que vos amis les ajoutent sur votre carte, cliquez sur :</i>
  </p>
  <table>
    <tbody>
      <td>
        <div id="share-fb" class="button-action update-order">
          <a class="btn btn-facebook" id="sharefb" onclick="ga('send', 'event', 'User', 'Ask advice', 'Ask on facebook button clicked from demo page');">
            Partager sur Facebook
          </a>
        </div>
      </td>
      <td>ou</td>
      <td>
        <div id="share-bt" class="button-action update-order">
          <%= form_for @trip, url: share_trip_path(@trip.id), remote: true do |f| %>
            <%= hidden_field_tag :id, value = @trip.id %>
            <%= f.submit( "Demander par email", onclick: 'ga("send", "event", "User", "Ask advice", "Ask with email button clicked from demo page");', class:'btn btn-success') %>
          <% end %>
        </div>
      </td>
    </tbody>
  </table>
  <br>
  <p class="text-center">
    <b>Ci-dessous, voici les conseils de vos amis. Ajoutez-les à votre voyage en cliquant dessus.</b>
  </p>
  <ul id="draggablePanelList" class="list-unstyled experience-block-container guest-comments-content">
  </ul>
</div>
<div role="tabpanel" class="tab-pane" id="user-experiences-selection">
  <div id="tab-pane-introduction">
    <p>Voici vos expériences sélectionnées! Supprimez-les ou réorganisez-les dans le bon ordre.</p><br>
  </div>
  <ul id="draggablePanelList" class="list-unstyled experience-block-container user-experiences-content">
  </ul>
  <div id="see-trip-summary" class="button-action update-order">
    <%= link_to summarize_trip_path(trip), target: "_blank", onclick: "ga('send', 'event', 'User', 'See trip summary', 'Show trip summary button clicked');", class: "btn btn-success btn-block", data: {toggle: "tooltip", placement: "bottom",  title: "Voir la synthèse de mon trip et me l'envoyer par mail", json: 'data'} do %>
    Voir la synthèse éditable et recevoir par email
    <% end %>
  </div>
</div>
<div role="tabpanel" class="tab-pane" id="help-menu">
  <div class="tab-description">
    <h4>Comment ça marche ?</h4>
    <br>
    <p>
      <strong><i class="fa fa-map-marker"></i> - 1. Inspiration</strong><br>
      <br>
      Cliquez sur les points de la carte ou sur la liste des expériences, triées par notes. Vous accèderez aux photos, aux descriptions, aux avis des guides et des voyageurs, et aux informations pratiques. <br><br>
      <%= image_tag 'http://philae-floju.s3.amazonaws.com/markers/top_2.png'%> indique les expériences à vivre concernant la destination choisie.<br>
      <%= image_tag 'http://philae-floju.s3.amazonaws.com/markers/top_must_see.png'%> indique les expériences <b>incontournables</b>!
      <br>
      <br>
      <i class="fa fa-heart-o"></i> permet de sélectionner les expériences que vous voulez retenir
      <br>
      <i class="fa fa-heart small"></i> indique que l'expérience est bien sélectionnée !
      <br><br>
      Une expérience manque ? Ajoutez-la à votre voyage en cliquant sur "Ajouter ma propre étape".
    </p>
    <br>
    <p>
      <strong><i class="fa fa-comments"></i> - 2. Conseils</strong><br>
      Demandez les conseils de vos amis : partagez sur Facebook ou par email, et vos amis pourront accéder à la carte de votre voyage et ajouter leur conseils.
    </p>
    <br>
    <p>
      <strong><i class="fa fa-heart"></i> - 3. Mon itinéraire</strong><br>
      <ul>
        <li><p>Retrouvez les expériences sélectionnées, et affinez votre itinéraire</p></li>
        <li><p>Accédez ensuite au résumé de votre voyage, et recevez-le par email</p></li>
      </ul>
    </p>
  </div>
</div>
<% content_for(:after_js) do %>
  <script>
  $('a[aria-controls="user-guest-comments"]').on('shown.bs.tab', function (e) {
    publishPostOnFbWall("#share-fb", "<%= j share_url("/trips/#{@trip.id}/#{@trip.token}") %>");
  });
  </script>
<% end %>