<div id="experience-summary-block">
  <div class="exp-header">
    <%= "#{trip_exp.order}. #{trip_exp.experience.name}" %>
  </div>
  <div class="exp-description">
    <%= simple_format trip_exp.experience.description %>
  </div>
  <% if trip_exp.experience.experience_pictures.any? %>
    <div class="exp-picture-block table-responsive text-center">
      <table class="table">
        <tbody>
          <tr>
            <% trip_exp.experience.experience_pictures(1..3).each do |pic| %>
              <td>
                <%= image_tag pic.picture.url(:thumb) %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if comment %>
    <div class="comment-module">
      <%= form_for [trip_exp.trip, trip_exp], remote: true do |f| %>
        <%= f.text_area :comment, placeholder: t('summarize_comment') %>
        <%= f.submit t('summarize_savecomment'), class: 'btn btn-xs btn-warning', id: trip_exp.id %>
      <% end %>
    </div>
  <% elsif trip_exp.comment %>
     <%= simple_format trip_exp.comment %>
  <% end %>
</div>

