<%= bootstrap_form_for([@trip, @trip.trip_comments.new], remote: true) do |f| %>
  <div class="actions">
    <%= f.text_field :name, placeholder: t('.name') %>
    <%= f.text_field :address, placeholder: t('.address') %>
    <%= f.text_area :description, placeholder: t('.description')  %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.submit( t('.share'))  %>
  </div>
<% end %>
