<%= bootstrap_form_for([@trip, @trip.experiences.new],
  url: experience_within_trip_path(@trip),
  remote: true) do |f| %>
  <div class="actions">
    <%= f.text_field :name, placeholder:'Give it a name' %>
    <%= f.text_field :address %>
    <%= f.text_area :description %>
    <%= f.submit 'Add it to my itinerary' %>
  </div>
<% end %>
