<%= bootstrap_form_for([@trip, @trip.trip_comments.new], remote: true) do |f| %>
  <div class="actions">
    <%= f.text_field :name, placeholder:'Please fill in with your name' %>
    <%= f.text_field :address, placeholder:'If you remember the address' %>
    <%= f.text_area :description, placeholder: 'What it is about?' %>
    <%= f.submit 'Share it' %>
  </div>
<% end %>
