<%= bootstrap_form_for([@trip, @trip.trip_comments.new], remote: true) do |f| %>
  <div class="actions">
    <%= f.text_field :name, placeholder: t('form_guest_name') %>
    <%= f.text_field :address, placeholder: t('form_guest_address') %>
    <%= f.text_area :description, placeholder: t('form_guest_description')  %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.submit( t('form_guest_share'))  %>
  </div>
<% end %>
