<%= bootstrap_form_for([@trip, @trip.experiences.new],
  url: experience_within_trip_path(@trip),
  remote: true) do |f| %>
  <div class="actions">
    <%= f.text_field :name, placeholder:'Nom' %>
    <%= f.text_field :address %>
    <%= f.text_area :description %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.submit 'Ajouter' %>
  </div>
<% end %>
