<% content_for :map_css do %>
  <%= stylesheet_link_tag 'map' %>
<% end %>

<div class="wrapper">
  <div class="map-container">
    <div id="map">
    </div>
    <% unless @guest_user %>
      <div id="user-choices">
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="all-experiences" value="1" checked >
          <small><%= t('show_bestexp') %></small>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="user-experiences" value="2">
          <small><%= t('show_myselection') %></small>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="guests-comments" value="3">
          <small><%= t('show_friendstips') %></small>
        </label>
      </div>
      <!-- User Modal to let him add his own experience -->
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
        <small><%= t('show_addmyexp') %></small>
      </button>
    <% else %>
      <!-- Guest Modal to let him add his own experience -->
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalGuest">
        <small><%= t('show_addcomment') %></small>
      </button>
    <% end %>
  </div>
  <div class="sidebar">
    <div class="selection-header text-center">
      <h4><%= t('show_selectedexp') %></h4>
      <i class="fa fa-angle-double-down"></i>
    </div>
    <div class="selection-content">
      <ul id="draggablePanelList" class="list-unstyled">
      </ul>
    </div>
  </div>
  <div class="nav-footer">
    <div class="vertically-center">
      <!-- <div class="row"> -->
        <!-- <div class="col-xs-4 col-sm-3"> -->
        <table>
          <td>
          <% unless @guest_user %>
            <div id="set-orders" class="button-action">
              <%= form_for @trip, url: {action: "update"} do |f|%>
                <%= hidden_field_tag :order %>
                <%= f.submit( t('show_save'), onclick: "ga('send', 'event', 'User', 'Save trip', 'Save my trip button clicked');", class: "btn btn-info btn-block") %>
              <% end %>
            </div>
          <% else %>
            <div id="set-orders" class="button-action">
              <%= form_for @trip, url: notif_trip_path(@trip.id), remote: true do |f|%>
                <%= f.submit( t('show_saveguest'), onclick: "ga('send', 'event', 'Guest user', 'Share comments', 'Save my comments button clicked');", class: "btn btn-group-lg btn-info") %>
              <% end %>
            </div>
          <% end %>
          </td>
        <!-- </div> -->
        <% unless @guest_user %>
          <!-- <div class="col-xs-4 col-sm-3"> -->
          <td>
            <div class="button-action">
              <%= link_to t('show_asktips'), trip_ask_your_friends_path(@trip), onclick: "ga('send', 'event', 'User', 'Ask advice', 'Ask advice button clicked');", class: "btn btn-primary btn-block" %>
            </div>
          </td>
          <!-- </div> -->
          <!-- <div class="col-xs-4 col-sm-3"> -->
          <td>
            <div class="button-action">
            <%= link_to t('show_seeproviders'),  providers_trip_path(@trip), onclick: "ga('send', 'event', 'User', 'See providers', 'Show local providers button clicked');", class: "btn btn-default" %>
            </div>
          </td>
          <!-- </div> -->
        <% end %>
      </table>
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- Experience Modal to display -->
<div class="modal fade" id="myExperienceModal" tabindex="-1" role="dialog" aria-labelledby="myExperienceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myExperienceModalLabel">Chargement...</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;key=AIzaSyCf77HD5LQkLbAcZWkBXKj-DLkXQJ9vHEc" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"%>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js" %>
  <script>
    // Use of a global variable to know if the user is authentificated or guest
    var GUEST_USER = <%= @guest_user ? 'true' : 'false' %>;
  </script>
<% end %>

<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      // Display existing trip_experiences
      <% if @trip_exp_tab &&  @trip_exp_tab.size > 0 %>
        <% @trip_exp_tab.each do |trip_exp| %>
          <% if trip_exp.experience %>
            $('#draggablePanelList').append('<%= j render("/trip_experiences/experience_block.html.erb", {trip_exp: trip_exp, guest_user: @guest_user} ) %>');
          <% end %>
        <% end %>
      <% end %>

      if (GUEST_USER) {
        var guestUserMapOptions = {
          center: new google.maps.LatLng(<%= @trip.latitude %>, <%= @trip.longitude %>),
          zoom: 6,
          disableDoubleClickZoom: false,
          panControl: false,
          zoomControl: true,
          zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
          }
        };
        buildMapForGuestUser(guestUserMapOptions, <%= @trip.id %>);
        // Remove cursor css on panel heading and remove submit btn
        $('#draggablePanelList .panel-heading').css('cursor', 'auto')
      } else {
        var userMapOptions = {
          center: new google.maps.LatLng(<%= @trip.latitude %>, <%= @trip.longitude %>),
          zoom: 6,
          disableDoubleClickZoom: false,
          panControl: false,
          zoomControl: true,
          zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
          }
        };
        buildMapForUser(userMapOptions, <%= @trip.id %>);
        makeExperiencesSortable();
        setExperiencesOrderByClickingOnSave();
        // Tooltip initialization
        $('[data-toggle="tooltip"]').tooltip()
      }
    });
  </script>
<% end %>
