<div class="wrapper bg-white black">
  <div class="destination-banner">
    <%= image_tag @destination.destination_pictures.first.picture.url(:banner) %>
    <h1 class='title-destination-page'><%= @destination.name.capitalize %></h1>
  </div>
  <div class="container destination-explanation">
    <div class="row text-center">
      <h3>Tout ce qu'il vous faut pour préparer votre prochain voyage</h3>
    </div>
    <div class="vertical-spacer-xs"></div>
    <div class="row">
      <div class="col-sm-12 col-md-3 text-center text-contrast">
        <div class="how-header">
          <i class="fa fa-info-circle"></i>
        </div>
        <div class="vertical-spacer-xs"></div>
        <div class="how-content">
          <p>1. Lisez les <b>infos</b> à savoir avant de partir</p>
        </div>
        <div class="vertical-spacer-xs"></div>
      </div>
      <div class="col-sm-12 col-md-3 text-center text-contrast">
        <div class="how-header">
          <i class="fa fa-camera-retro"></i>
        </div>
        <div class="vertical-spacer-xs"></div>
        <div class="how-content">
          <p>2. Découvrez les <b>expériences</b> à destination</p>
        </div>
        <div class="vertical-spacer-xs"></div>
      </div>
      <div class="col-sm-12 col-md-3 text-center text-contrast">
        <div class="how-header">
          <i class="fa fa-bicycle"></i>
        </div>
        <div class="vertical-spacer-xs"></div>
        <div class="how-content">
          <p>3. Créez votre <b>itinéraire</b> personnel</p>
        </div>
        <div class="vertical-spacer-xs"></div>
      </div>
      <div class="col-sm-12 col-md-3 text-center text-contrast">
        <div class="how-header">
          <i class="fa fa-suitcase"></i>
        </div>
        <div class="vertical-spacer-xs"></div>
        <div class="how-content">
          <p>4. Obtenez et emportez votre <b>synthèse</b> complète</p>
        </div>
        <div class="vertical-spacer-xs"></div>
      </div>
    </div>
  </div>
  <div class="destination-content">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
        <h3 class="text-center"><%= @destination.intro_title %></h3>
        <br>
          <ol>
            <li><%= simple_format @destination.sentence1 %></p></li>
            <li><%= simple_format @destination.sentence2 %></li>
            <li><%= simple_format @destination.sentence3 %></li>
            <% if @destination.sentence4.length > 0 %>
              <li><%= simple_format @destination.sentence4 %></li>
            <% end %>
            <% if @destination.sentence5.length > 0 %>
              <li><%= simple_format @destination.sentence5 %></li>
            <% end %>
          </ol>
        <br>
      </div>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseOverview" aria-expanded="false" aria-controls="collapseOverview" onclick= "ga('send', 'event', 'User', 'Click A savoir avant de partir', 'User clicks on à savoir avant de partir depuis la page explore_destination');" >
    <div id="overview" class="text-center">
      <%= image_tag @destination.destination_pictures.second.picture.url(:banner) %>
      <h2 class="no-margin title-destination-page">A savoir avant de partir</h2>
    </div>
  </a>
  <div class="collapse" id="collapseOverview">
    <div class="destination-content">
      <div class="row text-center">
        <small>Dernière mise à jour : <%= @destination.updated_at.strftime('%d-%m-%Y') %></small><br>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
          <h3 class="text-center"><%= simple_format @destination.enter_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.enter_line1 %></p></li>
            <% if @destination.enter_line2.length > 0 %>
              <li><p><%= simple_format @destination.enter_line2 %></p></li>
            <% end %>
            <% if @destination.enter_line3.length > 0 %>
              <li><p><%= simple_format @destination.enter_line3 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.visit_time_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.visit_line1 %></p></li>
            <% if @destination.visit_line2.length > 0 %>
              <li><p><%= simple_format @destination.visit_line2 %></p></li>
            <% end %>
            <% if @destination.visit_line3.length > 0 %>
              <li><p><%= simple_format @destination.visit_line3 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.security_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.security_line1 %></p></li>
            <% if @destination.security_line2.length > 0 %>
              <li><p><%= simple_format @destination.security_line2 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.transport_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.transport_line1 %></p></li>
            <% if @destination.transport_line2.length > 0 %>
              <li><p><%= simple_format @destination.transport_line2 %></p></li>
            <% end %>
            <% if @destination.transport_line3.length > 0 %>
              <li><p><%= simple_format @destination.transport_line3 %></p></li>
            <% end %>
            <% if @destination.transport_line4.length > 0 %>
              <li><p><%= simple_format @destination.transport_line4 %></p></li>
            <% end %>
            <% if @destination.transport_line5.length > 0 %>
              <li><p><%= simple_format @destination.transport_line5 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.toknow_title %></h3>
          <br>
          <ol>
            <li><p><%= simple_format @destination.toknow_line1 %></p></li>
            <% if @destination.toknow_line2.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line2 %></p></li>
            <% end %>
            <% if @destination.toknow_line3.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line3 %></p></li>
            <% end %>
            <% if @destination.toknow_line4.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line4 %></p></li>
            <% end %>
            <% if @destination.toknow_line5.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line5 %></p></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseMustSee" aria-expanded="false" aria-controls="collapseMustSee" onclick="ga('send', 'event', 'User', 'Click Que voir et que faire', 'User clicks on Que voir et que faire depuis la page explore_destination');">
  <div id="must-see" class="text-center">
    <%= image_tag @destination.destination_pictures.third.picture.url(:banner) %>
    <h2 class="no-margin title-destination-page">Découvrez les plus belles expériences</h2>
  </div>
  </a>
  <div class="collapse" id="collapseMustSee">
  <br>
  <br>
     <div class="destination-content">
      <div class="container-fluid">
        <div class="row text-center">
          <h3><%= @destination.name.capitalize %> - les meilleures expériences</h3><br>
          <ol>
            <% Experience.where(destination: @destination, published:true, must_see:true, landing_point:false).order(average_rating: :desc) {|experience| experience.average_rating }.each do |experience| %>
              <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
                <div class="experience-name">
                  <li><p><%= experience.name %></p></li>
                </div>
                <div class="row text-center">
                  <div class="col-xs-12 col-sm-6">
                    <div class="experience-big-box">
                      <%= link_to modal_exp_path(@trip.id, experience.id), remote: true, onclick:"ga('send', 'event', 'User', 'Experience Detail from Que voir - incontournables', 'User clicks on experience #{experience.name} from explore_destination');" do %>
                        <div class="experience-picture text-center">
                          <% if experience.experience_pictures.first %>
                            <%= image_tag experience.experience_pictures.first.picture.url(:medium), class: "img-responsive" %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="experience-details">
                      <div class="experience-one-sentence">
                        <%= raw experience.onesentence %>
                      </div>
                      <div class="experience-category">
                        <p>Pour ceux qui veulent :</p>
                        <% if experience.category_tab.include?('otbt') %>
                          <p>- sortir des sentiers battus</p>
                        <% end %>
                        <% if experience.category_tab.include?('nature') %>
                          <p>- être dépaysé</p>
                        <% end %>
                        <% if experience.category_tab.include?('culture') %>
                          <p>- se cultiver</p>
                        <% end %>
                        <% if experience.category_tab.include?('sport') %>
                          <p>- se dépenser</p>
                        <% end %>
                        <% if experience.category_tab.include?('relax') %>
                          <p>- se reposer</p>
                        <% end %>
                      </div>
                      <div class="experience-description">
                        <%= simple_format truncate(experience.description, length: 420, separator: ' ') %>
                      </div>
                      <div class="experience-know-more">
                        <p><%= link_to "En savoir plus", modal_exp_path(@trip.id, experience.id), remote: true, onclick:"ga('send', 'event', 'User', 'Experience Detail from Que voir - incontournables', 'User clicks on experience #{experience.name} from explore_destination');" %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </ol>
        </div>
        <br><br><br>
        <div class="row text-center">
          <h3>Les autres expériences</h3><br>
          <% Experience.where(destination: @destination, published:true, must_see:false, landing_point:false).order(average_rating: :desc) {|experience| experience.average_rating }.each do |experience| %>
            <% if experience.category_tab.exclude?('otbt') %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="experience-big-box">
                  <%= link_to modal_exp_path(@trip.id, experience.id), remote: true, onclick:"ga('send', 'event', 'User', 'Experience Detail from Que voir - incontournables', 'User clicks on experience #{experience.name} from explore_destination');" do %>
                    <div class="experience-picture text-center">
                      <% if experience.experience_pictures.first %>
                        <%= image_tag experience.experience_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      <% end %>
                    </div>
                    <div class="experience-name text-center">
                      <small><%= experience.name %></small><br>
                    </div>
                    <div class="experience-one-sentence text-center">
                      <small><%= experience.onesentence %></small><br>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="row text-center">
          <h3>Coup de projecteur sur les expériences hors des sentiers battus</h3><br>
          <% Experience.where(destination: @destination, published:true, must_see:false, landing_point:false).order(average_rating: :desc) {|experience| experience.average_rating }.each do |experience| %>
            <% if experience.category_tab.include?('otbt') %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="experience-big-box">
                  <%= link_to modal_exp_path(@trip.id, experience.id), remote: true, onclick:"ga('send', 'event', 'User', 'Experience Detail from Que voir - incontournables', 'User clicks on experience #{experience.name} from explore_destination');" do %>
                    <div class="experience-picture text-center">
                      <% if experience.experience_pictures.first %>
                        <%= image_tag experience.experience_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      <% end %>
                    </div>
                    <div class="experience-name text-center">
                      <small><%= experience.name %></small><br>
                    </div>
                    <div class="experience-one-sentence text-center">
                      <small><%= experience.onesentence %></small><br>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseRecommendedTrip" aria-expanded="false" aria-controls="collapseRecommendedTrip" onclick="ga('send', 'event', 'User', 'Click Itinéraires', 'User clicks on Itinéraire depuis la page explore_destination');">
  <div id="recommended-trip" class="text-center destination-title">
    <%= image_tag @destination.destination_pictures.fourth.picture.url(:banner) %>
    <h2 class="no-margin title-destination-page">Trouvez l'inspiration avec nos itinéraires</h2>
  </div>
  </a>
  <div class="collapse" id="collapseRecommendedTrip">
    <div class="destination-content">
      <div class="destination-itineraries">
        <p class="text-center"><i>Ces itinéraires ont été conçus par nos experts. Sélectionnez l'un d'entre eux, puis <b>personnalisez-le selon vos envies</b>.</i></p>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
            <% RecommendedTrip.where(destination_id: @destination.id).sort_by {|rc| rc.id }.each do |rec_trip| %>
              <p class="text-center"><%= raw rec_trip.title %></p>
            <% end %>
          </div>
        </div>
        <div class="vertical-spacer-xs"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
            <% RecommendedTrip.where(destination_id: @destination.id).sort_by {|rc| rc.id }.each do |rec_trip| %>
              <div class="destination-box-nobordertop">
                <div class="row">
                  <div class="col-xs-12">
                    <h3 class="text-center"><%= rec_trip.title %></h3><br>
                    <p><%= raw rec_trip.description %></p>
                    <div class="itinerary_image text-center">
                      <%= image_tag rec_trip.picture.url(:banner) %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-9">
                    <ul>
                      <li><p><%= raw(rec_trip.step_1) %></p></li>
                      <li><p><%= raw(rec_trip.step_2) %></p></li>
                      <% if rec_trip.step_3.length > 0 %>
                        <li><p><%= raw rec_trip.step_3 %></p></li>
                      <% end %>
                      <% if rec_trip.step_4.length > 0 %>
                        <li><p><%= raw rec_trip.step_4 %></p></li>
                      <% end %>
                      <% if rec_trip.step_5.length > 0 %>
                        <li><p><%= raw rec_trip.step_5 %></p></li>
                      <% end %>
                      <% if rec_trip.step_6.length > 0 %>
                        <li><p><%= raw rec_trip.step_6 %></p></li>
                      <% end %>
                      <% if rec_trip.step_7.length > 0 %>
                        <li><p><%= raw rec_trip.step_7 %></p></li>
                      <% end %>
                      <% if rec_trip.step_8.length > 0 %>
                        <li><p><%= raw rec_trip.step_8 %></p></li>
                      <% end %>
                      <% if rec_trip.step_9.length > 0 %>
                        <li><p><%= raw rec_trip.step_9 %></p></li>
                      <% end %>
                      <% if rec_trip.step_10.length > 0 %>
                        <li><p><%= raw rec_trip.step_10 %></p></li>
                      <% end %>
                      <% if rec_trip.step_11.length > 0 %>
                        <li><p><%= raw rec_trip.step_11 %></p></li>
                      <% end %>
                       <% if rec_trip.step_12.length > 0 %>
                        <li><p><%= raw rec_trip.step_12 %></p></li>
                      <% end %>
                      <% if rec_trip.step_13.length > 0 %>
                        <li><p><%= raw rec_trip.step_13 %></p></li>
                      <% end %>
                      <% if rec_trip.step_14.length > 0 %>
                        <li><p><%= raw rec_trip.step_14 %></p></li>
                      <% end %>
                      <% if rec_trip.step_15.length > 0 %>
                        <li><p><%= raw rec_trip.step_15 %></p></li>
                      <% end %>
                    </ul>
                    <br>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="itinerary_exp-images">
                      <div class="experience-picture text-center">
                        <% if rec_trip.recommended_trip_experiences[0].experience.experience_pictures.first %>
                          <%= image_tag rec_trip.recommended_trip_experiences[0].experience.experience_pictures.first.picture.url(:small) %>
                        <% end %>
                      </div>
                      <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[0].experience.id), remote: true do %>
                        <div class="experience-name text-center">
                          <p><%= rec_trip.recommended_trip_experiences[0].experience.name %></p>
                        </div>
                      <% end %>
                    </div>
                    <div class="itinerary_exp-images">
                      <div class="experience-picture text-center">
                        <% if rec_trip.recommended_trip_experiences[1].experience.experience_pictures.first %>
                          <%= image_tag rec_trip.recommended_trip_experiences[1].experience.experience_pictures.first.picture.url(:small) %>
                        <% end %>
                      </div>
                      <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[1].experience.id), remote: true do %>
                        <div class="experience-name text-center">
                          <p><%= rec_trip.recommended_trip_experiences[1].experience.name %></p><br>
                        </div>
                      <% end %>
                    </div>
                    <% if rec_trip.step_5.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[2].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[2].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[2].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[2].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_6.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[3].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[3].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[3].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[3].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_7.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[4].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[4].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[4].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[4].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_8.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[6].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[6].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[6].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[6].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_9.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[7].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[7].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[7].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[7].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_10.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[8].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[8].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[8].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[8].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_11.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[9].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[9].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[9].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[9].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_12.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[10].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[10].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[10].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[10].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_13.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[11].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[11].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[11].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[11].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_14.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[12].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[12].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[12].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[12].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if rec_trip.step_15.length > 0 %>
                      <div class="itinerary_exp-images">
                        <div class="experience-picture text-center">
                          <% if rec_trip.recommended_trip_experiences[13].experience.experience_pictures.first %>
                            <%= image_tag rec_trip.recommended_trip_experiences[13].experience.experience_pictures.first.picture.url(:small) %>
                          <% end %>
                        </div>
                        <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences[13].experience.id), remote: true do %>
                          <div class="experience-name text-center">
                            <p><%= rec_trip.recommended_trip_experiences[13].experience.name %></p><br>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <div class="itinerary_exp-images">
                      <div class="experience-picture text-center">
                        <% if rec_trip.recommended_trip_experiences.last.experience.experience_pictures.first %>
                          <%= image_tag rec_trip.recommended_trip_experiences.last.experience.experience_pictures.first.picture.url(:small) %>
                        <% end %>
                      </div>
                      <%= link_to experience_detail_path(rec_trip.recommended_trip_experiences.last.experience.id), remote: true do %>
                        <div class="experience-name text-center">
                          <p><%= rec_trip.recommended_trip_experiences.last.experience.name %></p><br>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <%= render('add_recommended_trip', {recommended_trip_id: rec_trip.id}) %>
              </div>
              <div class="row text-center">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator">
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-spacer-xs"></div>
  <h2 class='text-center map-title'>Personnaliser mon voyage</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group btn-group-block btn-group-justified" role="group" aria-label="Category selection">
          <a id="must" href="#" class="btn no-border btn-default category-btn" role="button" data-remote='true' onclick="ga('send', 'event', 'User', 'Filter clicked', 'User clicked on must-see button from explore destination');">
            <i class="fa fa-star"></i>
            <span class="hidden-xs">Incontournables</span>
          </a>
          <a id="otbt" href="#" class="btn no-border btn-default category-btn" role="button" data-remote='true' onclick="ga('send', 'event', 'User', 'Filter clicked', 'User clicked on otbt button from explore destination');">
            <i class="fa fa-compass"></i>
            <span class="hidden-xs">Hors des sentiers battus</span>
          </a>
          <a id="relax" href="#" class="btn no-border btn-default category-btn" role="button" data-remote='true' onclick="ga('send', 'event', 'User', 'Filter clicked', 'User clicked on relax button from explore destination');">
            <i class="fa fa-glass"></i>
            <span class="hidden-xs">Détente</span>
          </a>
          <a id="culture" href="#" class="btn no-border btn-default category-btn" role="button" data-remote='true'>
            <i class="fa fa-university"></i>
            <span class="hidden-xs">Culture</span>
          </a>
          <a id="nature" href="#" class="btn no-border btn-default category-btn" role="button" data-remote='true'>
            <i class="fa fa-tree"></i>
            <span class="hidden-xs">Nature</span>
          </a>
          <a id="sport" href="#" class="btn no-border btn-default category-btn" role="button" data-remote='true' onclick="ga('send', 'event', 'User', 'Filter clicked', 'User clicked on sport button from explore destination');">
            <i class="fa fa-bicycle"></i>
            <span class="hidden-xs">Sport</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="map-container-destination">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="vertical-spacer-xs"></div>
        <p><em>Vous avez terminé ?</em></p>
        <%= link_to summarize_trip_path(@trip), onclick: "ga('send', 'event', 'User', 'See trip summary', 'Show trip summary button clicked from explore destination page');", class: "btn btn-info" do %>
        Accéder à la synthèse de mon voyage
        <% end %>
      </div>
    </div>
  </div>
  <div class="vertical-spacer-xs"></div>
</div>
<%= render partial: 'shared/footer' %>

<!-- Experience Modal to display -->
<div class="modal fade" id="myExperienceModal" tabindex="-1" role="dialog" aria-labelledby="myExperienceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title experience-title text-center" id="myExperienceModalLabel">Chargement...</h4>
      </div>
      <div class="modal-body experience-content">
      </div>
    </div>
  </div>
</div>

<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;key=AIzaSyCf77HD5LQkLbAcZWkBXKj-DLkXQJ9vHEc" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"%>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js" %>
<% end %>
<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      var mapOptions = {
        center: new google.maps.LatLng(0, 0),
        scrollwheel: false,
        zoom: 1,
        disableDoubleClickZoom: false,
        panControl: false,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
        }
      };
      handler = Gmaps.build('Google', { markers: { maxRandomDistance: 5, clusterer: undefined } });
      handler.buildMap({provider: mapOptions, internal: {id: 'map-container-destination'}}, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        setExperienceInfowindowForGlobalMap(<%= raw @markers.to_json %>);
        initializeFilterButtons(<%= @trip.id %>, false);
      });
    });
  </script>
<% end %>