<div class="container-fluid" role="tabpanel">
  <div class="row">
    <div class="col-md-3 hidden-xs trip-home-sidebar">
      <%= link_to current_user do %>
        <div class="user-info text-center">
          <div class="user-picture">
            <%= image_tag(current_user.picture, class:'img-circle') %>
          </div>
          <div class="user-content">
            <div class="user-name">
              <%= current_user.name %>
            </div>
            <div class="user-trips">
              <%= current_user.trips.count %> voyages
            </div>
          </div>
        </div>
      <% end %>
      <div class="vertical-spacer-xxs"></div>
      <div class="home-trip-menu">
        <ul class="list-unstyled" role="tablist">
          <li class='text-indent-35'>
            <em><small>Que souhaites-tu faire?</small></em>
          </li>
          <li role="presentation" class="active">
            <a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab">
              <i class="fa fa-tachometer"></i>  Tableau de bord
            </a>
          </li>
          <% if @trip.destination %>
            <li>
              <a href="#inspiration" aria-controls="inspiration" role="tab" data-toggle="tab">
                <i class="fa fa-lightbulb-o"></i>  Trouver de l'inspiration
              </a>
            </li>
          <% end %>
          <li>
            <a href="#add-experiences" aria-controls="add-experiences" role="tab" data-toggle="tab">
            <i class="fa fa-map-marker"></i>  Ajouter des expériences
            </a>
          </li>
          <li>
            <a href="#ask-advice" aria-controls="ask-advice" role="tab" data-toggle="tab">
            <i class="fa fa-comment"></i>  Demander des conseils
            </a>
          </li>
          <li>
            <a href="#user-selection" aria-controls="user-selection" role="tab" data-toggle="tab">
            <i class="fa fa-cloud-download"></i>  Finaliser mon itinéraire
            </a>
          </li>
          <li>
            <a href="#sum-trip" aria-controls="sum-trip" role="tab" data-toggle="tab">
            <i class="fa fa-envelope"></i>  Recevoir une synthèse
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-xs-12 trip-home-content" >
      <div class="trip-picture">
        <!-- TODO: set size of picture properly -->
        <%=  @trip.destination ? image_tag(@trip.destination.picture.url(:header)) : image_tag('beachtrip.jpeg', height: 180, width: '100%') %>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in active" role="tabpanel" id="dashboard">
          <h1 class="text-center"><strong><%= @trip.title.upcase %></strong></h1>
          <div class='text-center medium-style'>
            Bienvenue sur la page d'accueil de ton voyage!
            <br>
            C'est à partir d'ici que tu pourras accéder aux services te permettant d'organiser simplement ton voyage.
          </div>
          <div class="vertical-spacer-xxs"></div>
          <div class="row">
            <div class="col-xs-6 text-center medium-style">
              <h3 class="text-center">
                <i class="fa fa-heart red"></i>
                <em> Expériences</em>
              </h3>
              <% if @trip.trip_experiences.any? %>
                <p class= 'light'>
                  <%= @trip.trip_experiences.count %> expériences ajoutés au voyage
                  <br>
                  (dernier ajout: <%= "#{@trip.trip_experiences.last.name} le #{@trip.trip_experiences.last.created_at.strftime('%d-%m-%Y')}" %>)
                </p>
                <p class= 'light'>
                  <a class='black' href="#add-experiences" aria-controls="add-experiences" role="tab" data-toggle="tab" onclick="setClassActiveOnLink(this);">
                    Ajouter plus d'expériences
                  </a>
                </p>
              <% else %>
                <p class= 'light'>
                   Tu n'as pas encore ajouté d'expériences à ton voyage...
                </p>
                <p class= 'light'>
                   <a class='black' href="#add-experiences" aria-controls="add-experiences" role="tab" data-toggle="tab" onclick="setClassActiveOnLink(this);" >
                    Clique ici pour y remédier!
                  </a>
                </p>
              <% end %>
            </div>
            <div class="col-xs-6 text-center medium-style">
              <h3 class="text-center">
                <i class="fa fa-comment fb-blue"></i>
                <em> Commentaires</em>
              </h3>
              <% if @trip.trip_comments.any? %>
                <p class= 'light'>
                  <%= @trip.trip_comments.count %> expériences ajoutés au voyage
                  <br>
                  (dernier commentaire de <%= "#{@trip.trip_comments.last.name} le #{@trip.trip_comments.last.created_at.strftime('%d-%m-%Y')}" %>)
                </p>
                <p class= 'light'>
                  <a class='black' href="#ask-advice" aria-controls="ask-advice" role="tab" data-toggle="tab" onclick="setClassActiveOnLink(this);">
                    Demander plus de conseils
                  </a>
                </p>
              <% else %>
                <p class= 'light'>
                   Tu n'as pas encore de conseils de tes amis...
                </p>
                <p class= 'light'>
                  <a class='black' href="#ask-advice" aria-controls="ask-advice" role="tab" data-toggle="tab" onclick="setClassActiveOnLink(this);">
                    Clique ici pour leur en demander!
                  </a>
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <% if @trip.destination %>
          <div class="tab-pane" role="tabpanel" id="inspiration">
            <h2 class="text-center"><strong>Besoin d'inspiration?</strong></h2>
            <div class="medium-style">
              <p>
                Trouve ici toutes les infos utiles et l'inspiration pour organiser ton voyage, notamment:
              </p>
              <ul>
                <li>
                  Les <strong>formalités d'entrée</strong>, <strong>climat</strong> et <strong>sécurité</strong>
                </li>
                <li>
                  Les <strong>expériences incontournables</strong> qui font l'unanimité auprès des guides et voyageurs
                </li>
                <li>
                  Les <strong>itinéraires conseillés</strong> en fonction de la durée de ton séjour
                </li>
              </ul>
            </div>
            <div class="vertical-spacer-xs"></div>
            <div class="text-center">
              <!-- TODO: Display only if destination for trip exist -->
              <%= link_to 'INSPIREZ-MOI', user_trip_destination_within_trip_path(current_user, @trip, @trip.destination), class: 'btn btn-info btn-lg' %>
            </div>
          </div>
        <% end %>
        <div class="tab-pane" role="tabpanel" id="add-experiences">
          <h2 class="text-center"><strong>Explore et selectionne les expériences qui te plaisent</strong></h2>
              <div class="medium-style">
                <p>
                  Accéde ici à la <strong>carte interactive</strong> qui va te permettre d'explorer les meilleures expériences à vivre :
                </p>
                <ul class='list-unstyled'>
                  <li>
                    <%= image_tag 'http://philae-floju.s3.amazonaws.com/markers/top_2.png'%> indique les <strong>points d'intérêt</strong> au Liban.
                  </li>
                  <li>
                    <%= image_tag 'http://philae-floju.s3.amazonaws.com/markers/top_must_see.png'%> indique les <b>incontournables</b>!
                  </li>
                </ul>
                <br>
                  <p>
                    Une expérience te plait? Clique dessus avoir plus d'infos et <strong>rajoute la à ton voyage</strong> pour commencer à créer ton itinéraire :
                  </p>
                  <ul class='list-unstyled'>
                    <li>
                      <i class="fa fa-heart-o"></i> permet de sélectionner les points d'intérêt que tu veux retenir
                    </li>
                    <li>
                      <i class="fa fa-heart red"></i> indique que le point d'intérêt est bien sélectionné!
                    </li>
                  </ul>
              </div>
              <div class="vertical-spacer-xs"></div>
              <div class="text-center">
                <!-- TODO: Link to map -->
                <%= link_to 'EXPLORER', destination_path(@trip.destination), class: 'btn btn-info btn-lg' %>
              </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="ask-advice">
          <h2 class="text-center"><strong>Demande les bons plans de tes amis!</strong></h2>
          <!-- <div class="container"> -->
          <div class="vertical-spacer-xs"></div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="box-content text-center">
                  <i class="fa fa-facebook fa-2x"></i><br><br>
                  <a class="btn btn-facebook" id="sharefb" onclick="ga('send', 'event', 'User', 'Ask advice', 'Ask on facebook button clicked');">
                    Partager sur facebook
                  </a>
                  <h4>Tes amis accèderont à ta carte</h4>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="box-content text-center">
                  <i class="fa fa-envelope fa-2x"></i><br><br>
                  <%= form_for @trip, url: share_trip_path(@trip.id), remote: true do |f| %>
                    <%= hidden_field_tag :id, value = @trip.id %>
                    <%= f.submit( 'Partager par email', onclick: "ga('send', 'event', 'User', 'Ask advice', 'Ask with email button clicked');", class:'btn btn-success') %>
                  <% end %>
                  <h4>Reçois et transfère ta carte</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="user-selection">
                    <h2 class="text-center"><strong>Finalise ton voyage</strong></h2>
                        <div class="medium-style">
                          <p>
                            Accéde ici à la <strong>carte interactive</strong> qui regroupe toutes les expériences que tu as selectionné jusqu'à présent.
                          </p>
                          <p>Réagence l'ordre dans lequel tu souhaites les faire en cliquant sur une vignette et en relachant l'endroit où tu souhaites la poser.</p>
                        </div>
                        <div class="vertical-spacer-xs"></div>
                        <div class="text-center">
                          <!-- TODO: Link to map -->
                          <%= link_to 'EXPLORER', destination_path(@trip.destination), class: 'btn btn-info btn-lg' %>
                        </div>
                  </div>
        <div class="tab-pane" role="tabpanel" id="sum-trip">
          <h2 class="text-center"><strong>Récupére ton itinéraire par email</strong></h2>
          <p class="text-center">Clique sur le lien ci-dessous pour t'envoyer une synthèse de ton itinéraire.</p>
          <div class="vertical-spacer-xs"></div>
          <div class="text-center">
          <%= form_for @trip, url: summarize_trip_path(@trip.id) do |f| %>
            <%= hidden_field_tag :id, value = @trip.id %>
              <label for="mySubmit" class="btn btn-success btn-lg white-space-normal">Recevoir mon itinéraire par email <i class="fa fa-envelope"></i> </label>
            <%= f.submit(id:'mySubmit', class:'hidden') %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
