<div class="wrapper">
  <div class="container">
    <div class="row">
      <h2><%= t('.title', :default => "Design your trip") %></h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <%= link_to t('.newexp'), new_experience_path %>
        <div class="map-checkbox">
            <label>
              <input id="checkbox" type="checkbox" class="map-checkbox-input">
              <small><%= t('.myexp') %></small>
            </label>
        </div>
        <div id="map">
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <ul id="draggablePanelList" class="list-unstyled scrollable">
        </ul>
        <div id="set-orders" class="btn btn-primary">
          <%= form_for @trip, url: {action: "update"} do |f|%>
            <%= hidden_field_tag :order %>
            <%= f.submit('Save') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%= form_for @trip, url: share_trip_path(@trip.id), remote: true do |f| %>
    <%= hidden_field_tag :id, value = @trip.id %>
    <%= f.submit('Share my trip by email', class:'btn btn-primary') %>
  <% end %>
</div>

<!-- Modal: add-experience -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add an experience
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Do you want to add your own experience?</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;key=AIzaSyCf77HD5LQkLbAcZWkBXKj-DLkXQJ9vHEc" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"%>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {

      // Generate map
      var mapOptions = {
        center: new google.maps.LatLng(<%= @trip.query_lat %>, <%= @trip.query_lng %>),
        zoom: 6
      };
      buildMap(mapOptions, <%= @trip.id %>);

      // Display existing trip_experiences
      <% if @trip_exp_tab %>
        <% if @trip_exp_tab.size > 0 %>
          <% @trip_exp_tab.each do |trip_exp| %>
            <% if trip_exp.experience %>
              var tmpl =
              '<li class="panel panel-info" id="<%= trip_exp.id %>">' +
                '<div class="panel-heading"><%= trip_exp.experience.name %>' +
                  '<%= form_tag trip_trip_experience_path(trip_exp.trip, trip_exp), remote: true, method: :delete, class: "form-inline pull-right" do %>'+
                    '<%= submit_tag "X", class: "exp-rm-btn" %>' +
                  '<% end %>' +
                '</div>'+
                '<div class="panel-body"><%= trip_exp.experience.description %></div>'+
              '</li>';
              $('#draggablePanelList').append(tmpl);
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      // Send experiences order to trip-experiences controller
      $('#set-orders').on("mousedown", function() {
        var order = {};
        for (var i = 0; i < $('.panel.panel-info').length; i++){
          order[i+1] =  $('.panel.panel-info')[i].id;
        }
        $('#order').attr('value', JSON.stringify(order));
      });

      // Add experience on map click
      var map = handler.getMap();
      google.maps.event.addListener(handler.getMap(), "click", function(e) {
        var geocoder = new google.maps.Geocoder();
          geocoder.geocode({'latLng': e.latLng}, function(results, status){
          $('#myModal').modal('show');
          $('#experience_address').val(results[1].formatted_address);
          });
        });

      // Display google maps pac-container
      $('#experience_address').on("click", function(e) {
        $('.pac-container').zIndex(100000);
      });
    });

      // Reset modal on hide
      $('#myModal').on('hidden.bs.modal', function(){
        $('#experience_name').val('');
        $('#experience_address').val('');
        $('#experience_description').val('');
      });

      // Set carousel on infowindow show up
      // $(".owl-carousel").owlCarousel({
        // navigation : true, // Show next and prev buttons
        // slideSpeed : 300,
        // paginationSpeed : 400,
        // singleItem:true
      // });
   // });
  <% end %>
<% end %>