<%= render 'show' %>

<!-- Guest Modal to display -->
<!-- Presentation of the service -->
<div class="modal fade" id="myModalPresentation" tabindex="-1" role="dialog" aria-labelledby="myModalPresentationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalPresentationLabel"><%= t('.title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('.line1') %></p>
        <p><%= t('.line2') %></p>
        <p><%= t('.line3') %></p>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Let's go!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add a comment -->
<div class="modal fade" id="myModalGuest" tabindex="-1" role="dialog" aria-labelledby="myModalGuestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalGuestLabel"><%= t('.modaltitle') %></h4>
      </div>
      <div class="modal-body">
        <%= render 'form_guest' %>
      </div>
    </div>
  </div>
</div>
<!-- Thank you for sharing -->
<div class="modal fade" id="myModalThanks" tabindex="-1" role="dialog" aria-labelledby="myModalThanksLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalThanksLabel"><%= t('.thanks') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('.thanksline1') %></p>
        <p><%= t('.thanksline2') %></p>
        <div class="text-center">
          <a href="http://www.explorizers.com"><%= t('.thanksbtn') %></a>
        </div>
      </div>
    </div>
  </div>
</div>

