<div class="wrapper">
  <div class="container">
    <div class="vertical-spacer-sm"></div>
      <div class="row text-center">
<!--         <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-center">
          <%= link_to trip_path(@trip), class:"btn btn-info btn-block white-space-normal" do %>
            <i class="fa fa-arrow-circle-left"></i><%= t('summarize_gobacktotrip') %>
          <% end %>
        </div> -->
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
          <%= form_for @trip, url: summarize_trip_path(@trip.id) do |f| %>
            <%= hidden_field_tag :id, value = @trip.id %>
              <label for="mySubmit" class="btn btn-success btn-block white-space-normal"><%= t('summarize_getbyemail') %><i class="fa fa-envelope"></i> </label>
            <%= f.submit(id:'mySubmit', class:'hidden') %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="titleblock" class="text-center">
        <div class="title">
          <h1><%= @trip.title %></h1>
          <p><i><%= t('summarize_creation') %><%= @trip.created_at.strftime('%d-%m-%Y') %> -
          <%= t('summarize_lastupdate') %> <%= @trip.trip_experiences.any? ? @trip.trip_experiences.last.updated_at.strftime('%d-%m-%Y') : @trip.updated_at.strftime('%d-%m-%Y') %></i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @trip_exp_ordered.each do |trip_exp| %>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 border-left">
          <%= render("/trips/experience_summary_block.html.erb", {trip_exp: trip_exp, comment: true} ) %>
        </div>
      <% end%>
    </div>
  </div>
  <div class="vertical-spacer-sm"></div>
  <div class="row text-center">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
      <%= form_for @trip, url: summarize_trip_path(@trip.id) do |f| %>
        <%= hidden_field_tag :id, value = @trip.id %>
          <label for="mySubmit" class="btn btn-success btn-block white-space-normal"><%= t('.getbyemail') %><i class="fa fa-envelope"></i> </label>
        <%= f.submit(id:'mySubmit', class:'hidden') %>
      <% end %>
    </div>
  </div>
  <div class="vertical-spacer-sm"></div>
</div>
<%= render partial: 'shared/footer' %>