<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <div class="vertical-spacer"></div>
        <h2><%= t('.title') %></h2>
        <p><%= t('.intro1') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="box-content text-center">
          <i class="fa fa-facebook"></i><br>
          <h4><%= t('.share_fb') %></h4>
          <a class="btn btn-facebook" id="sharefb" onclick="ga('send', 'event', 'button', 'click', 'Ask on facebook button clicked);">
            <%= t('.ask_fb_btn') %>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="box-content text-center">
          <i class="fa fa-envelope"></i>
          <h4><%= t('.share_email') %></h4>
          <%= form_for @trip, url: share_trip_path(@trip.id) do |f| %>
            <%= hidden_field_tag :id, value = @trip.id %>
            <%= f.submit( t('.ask_email_btn'), onclick: "ga('send', 'event', 'button', 'click', 'Ask with email button clicked');", class:'btn btn-primary') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    publishPostOnFbWall("#sharefb", "<%= j share_url("/trips/#{@trip.id}/#{@trip.token}") %>");
  </script>
<% end %>

