<%= content_for(:navbar) do %>
  <%= 'shared/navbar2.html.erb' %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <div class="vertical-spacer"></div>
        <h2>DEMANDER CONSEILS A VOS AMIS</h2>
        <p>Vous pouvez communiquer votre itinéraire à vos amis afin qu'ils vous donne leur conseil d'un simple clic. Ensuite vous accédez depuis la page de votre trip à tous leurs conseil.</p>
        <p>Pour profiter de ce service, rien de simple! Vous pouvez soit poster directement sur facebook votre itinéraire soit envoyer envoyer par email un lien vers votre itinéraire.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="box-content text-center">
          <h4>Poster sur facebook mon itinéraire et permettre à mes amis de donner leur avis</h4>
           <i class="fa fa-facebook"></i><br>
          <a class="btn btn-facebook" id="sharefb">
            Demander sur facebook
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="box-content text-center">
          <h4>Envoyer par email un lien vers mon itinéraire pour que me amis me donnent leur conseil</h4>
          <i class="fa fa-envelope"></i>
          <%= form_for @trip, url: share_trip_path(@trip.id), remote: true do |f| %>
            <%= hidden_field_tag :id, value = @trip.id %>
            <%= f.submit('Demander par email', class:'btn btn-primary') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    publishPostOnFbWall("#sharefb", "<%= j share_url("/trips/#{@trip.id}/#{@trip.token}") %>");
  </script>
<% end %>

