<div class="container content">

  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= t('.sign_up', :default => "Sign up") %></h2>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 col-sm-offset-1 text-center">
      <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-lg btn-facebook" do %>
        <i class="fa fa-facebook"></i> Sign up with Facebook
      <% end %>
      <p>We've made it possible to sign up with Facebook. It will make it easier for you to share the cool stuff you'll find here.</p>
    </div>
   </div>

  <div class="row">
<!--     <div class="col-sm-4 col-sm-offset-1 text-center"> -->
    <div id="sign-form">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>

        <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>

        <div><%= f.submit t('.sign_up', :default => "Sign up") %></div>
      <% end %>
<!--       </div> -->
    </div>
  </div>




</div>


<%= render "devise/shared/links" %>
