<body class="signup-signin">

<div id="titleblock" class="text-center">
  <h2><%= t('sign_up', :default => "Sign up") %></h2>
</div>

<div row>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

    <div id="sign-form">

      <div><%- if controller_name != 'sessions' %>
      <%= link_to t('alreadyaccount'), new_session_path(resource_name) %><br />
      <% end -%>
      </div>

      <div id="fb-signup">

        <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-lg btn-facebook" do %>
        <i class="fa fa-facebook"></i> <%= t('fbsignupbutton') %>
        <% end %>
<!--         <h4><%= t('fbencourage') %></h4> -->

      </div>

      <p><%= t('emailsignup') %></p>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email do %>
          <br />
          <span class="col-xs-1 text-center"><i class="fa fa-envelope fa-2x icon-alignement"></i></span>
          <%= f.email_field :email, placeholder: "marco.polo@navy.com" %>
          <% end %>
        </div>

        <div><%= f.label :password do %>
          <br />
          <span class="col-xs-1 text-center"><i class="fa fa-lock fa-2x icon-alignement"></i></span>
          <%= f.password_field :password, placeholder: t('passwordplaceholder') %></div>
        <% end %>

        <div><%= f.label :password_confirmation do %>
          <br />
          <span class="col-xs-1 text-center"><i class="fa fa-lock fa-2x icon-alignement"></i></span>
          <%= f.password_field :password_confirmation, placeholder: t('passwordconfirmplaceholder') %></div>
        <% end %>
        <br />

        <div><%= f.submit t('.sign_up', :default => "Sign up"), class: 'btn btn-warning' %></div>

      <% end %>

    </div>
  </div>
</div>

<%= render "devise/shared/links" %>

</body>
