<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t('.hi') %></p>
    <% if @nb_comments %>
      <p><%= "#{@guest_name} #{t('n_line0_1')} #{@nb_comments} #{t('n_line0_2')}" %></p>
    <% else %>
      <p><%= "#{@guest_name} #{t('.n_line1')}" %></p>
    <% end %>
    <p><%= t('.n_line2') %>
    </p>
      <a href='<%= ROOT_URL + "/trips/" + @trip.id.to_s %>'><%= t('.n_line3') %></a>
    </p>
    <p><%= t('.n_line4') %></p>
    <p><%= t('.n_line5') %></p>
  </body>
</html>