<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t('.hi') %></p>
    <p><%= t('.s_line1') %><br>
      ----
    </p>

    <p><%= t('.hi') %></p>

    <p><%= t('.s_line2') %></p>

    <p>
      <a href='<%= @trip.generate_url_with_token %>'> <%= t('.s_line3') %></a>
    </p>
    <p><%= t('.s_line4') %></p><br><br>
    <p><%= t('.s_line5') %></p>
  </body>
</html>