<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

<body>

  <div class="title text center">
    <h1><%= t('.hi') %></h1>
  </div>

  <p><%= t('.w_line1') %></p>

  <p><%= t('.w_line2') %></p>

  <p><%= t('.w_line3') %></p>

  <p><%= t('.w_line4') %></p>



</body>