<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation" data-0="background-color:rgba(0,0,0,0);" data-30="background-color:rgba(10,0,40,0.9);">
  <div class ="container fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, {class: "navbar-brand"} do %>
      <%= image_tag("logo_hp.png", id: "logo") %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav brandname">
        <li><%= link_to 'E X P L O R I Z E R S', root_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <% if current_user.provider %>
              <%= image_tag current_user.picture, id:'profile-pic', class: "img img-circle" %>
              <% else %>
              <img src="http://lorempixel.com/30/30" id="profile-pic" alt="">
              <% end %>

              <%= current_user.email %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to t('signout'), destroy_user_session_path, method: 'delete' %>
              </li>
              <li>
                <%= link_to t('my_trips'), user_path(current_user) %>
              </li>
            </ul>
          </li>
        <% else %>
        <li >
          <%= link_to 'Inscription', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Connexion', new_user_session_path %>
        </li>
        <% end -%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Informations
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Qui sommes-nous?', story_index_path %></li>
            <li><%= link_to 'Nous contacter', new_contact_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>