<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation" data-0="background-color:rgba(0,0,0,0);" data-30="background-color:rgba(10,0,40,0.9);">
  <div class ="container fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= yield_logo(:logo_hp, "navbar-brand") %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav brandname">
        <li><%= link_to 'E X P L O R I Z E R S', root_path %></li>
        <!-- <li>
          <div class="navbar-travel">
            <%= form_for(Trip.new, html: { class: "form-inline" }) do |f| %>
              <div class="form-group minor-block" class="text-center">
                <%= f.hidden_field(:latitude) %>
                <%= f.hidden_field(:longitude) %>
                <%= f.search_field(:query, placeholder: "Destination ?", required: true ) %>
                <%= f.submit( "Voyager", class: 'btn btn-info btn-sm') %>
              </div>
            <% end %>
          </div>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <% if current_user.provider %>
                <%= image_tag current_user.picture, id:'profile-pic', class: "img img-circle" %>
              <% end %>
              <% if current_user.name %>
                <%= current_user.name %> <span class="caret"></span>
              <% else %>
                <%= current_user.email %> <span class="caret"></span>
              <% end %>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to t('my_travels'), user_path(current_user) %>
              </li>
              <li>
                <%= link_to t('signout'), destroy_user_session_path, method: 'delete', onclick: "ga('send', 'event', 'User', 'Logout', 'Logout link clicked from navbar');" %>
              </li>
            </ul>
          </li>
        <% else %>
        <li >
          <%= link_to t('signup'),'#', {onclick:"showSignUpModal();"} %>
        </li>
        <li>
          <%= link_to t('login'),'#', {onclick:"showSignInModal();"} %>
        </li>
        <% end -%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Explorizers
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('about'), faq_index_path %></li>
            <li><%= link_to t('nav_destinations'), destinations_path %></li>
            <li><%= link_to t('navexperiences'), experiences_path %></li>
            <!-- <li><%= link_to t('contribute'), new_experience_path %></li> -->
            <li><%= link_to t('ourcontact'), new_contact_path %></li>
          </ul>
        </li>

        <% if locale == :en %>
          <li><%= link_to 'Français', url_for(:locale => 'fr') %></li>
        <% else %>
          <li><%= link_to 'English', url_for(:locale => 'en') %></li>
        <% end -%>

<!--         <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <% if current_user.provider %>
                <i class="fa fa-power-off"></i>
              <% end %>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to t('signout'), destroy_user_session_path, method: 'delete', onclick: "ga('send', 'event', 'User', 'Logout', 'Logout link clicked from navbar');" %>
              </li>
            </ul>
          </li>
        <% end %> -->
      </ul>
    </div>
  </div>
</nav>