<div id="homeblock" class="text-center">
  <div class="title">
    <h1><%= t '.brand' %></h1>
    <h2><%= t '.baseline' %></h2>
  </div>

  <%= form_tag(trips_path, method: "post", class: "form-inline") do %>
    <div class="form-group">
      <%= text_field_tag(:q, nil, placeholder: t('.searchplaceholder'), class: "form-control") %>
    </div>
    <%= submit_tag(t('.searchbutton'), class: 'btn btn-primary') %>
  <% end %>
</div>
