<div class="homepage_story">
  <div id="homeblock" class="banner text-center">
    <div class="title">
      <h1><%= t('.firstline') %></h1>
      <h2><%= t('.secondline') %></h2>
    </div>
    <%= form_for(Trip.new, html: { class: "form-inline" }) do |f| %>
    <div class="form-group" class="text-center">
      <%= f.hidden_field(:query_lat, value: 31.943808) %>
      <%= f.hidden_field(:query_lng, value: -6.271945) %>
      <%= f.submit( t('.searchbutton'), class: 'btn btn-primary') %>
    </div>
    <% end %>
  </div>
  <div class="arrow-down text-center">
    <i class="fa fa-angle-down"></i>
  </div>
  <div id="homepage-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="feature text-center effect-white-shadow">
            <%= image_tag 'home_map.png', class: "img-responsive" %>
            <h4><%= t('.subtitle1') %></h4>
            <p><%= t('.text1') %></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="feature text-center effect-white-shadow">
            <%= image_tag 'home_friends2.png', class: "img-responsive" %>
            <h4><%= t('.subtitle2') %></h4>
            <p><%= t('.text2') %></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="feature text-center effect-white-shadow">
            <%= image_tag 'home_camel.png', class: "img-responsive" %>
            <h4><%= t('.subtitle3') %></h4>
            <p><%= t('.text3') %></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-12">
          <div class="feature text-center effect-white-shadow">
            <div class="row text-center">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h3>  <%= t('.concept', :default => "Concept") %></h3>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
              <%= link_to t('.contact'), new_contact_path, {class: "btn btn-primary"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>