<% content_for :navbar_hp_css do %>
  <%= stylesheet_link_tag 'navbar_hp' %>
<% end %>
<% content_for :logo_hp do %>
  <%= true %>
<% end %>
<% content_for :registration_scripts do %>
  <% if flash[:notice] && user_signed_in? %>
    <% if session[:from]  %>
      <% current_user.update(from_campaign: session[:from]) if current_user.from_campaign.nil?   %>
    <% end %>
    <!-- Facebook Conversion Code for Registration -->
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6026156032989', {'value':'0.00','currency':'EUR'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026156032989&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
  <% end %>
<% end %>
<div class="homepage_story">
  <div class="fullpage">
    <div id="homeblock" class="banner text-center">
      <div class="title fader">
        <h1><%= t('.title') %></h1>
        <h3><%= t('.subtitle') %></h3>
      </div>
      <div class="vertical-spacer-xxs"></div>
      <div class="tr-grey-bg">
        <% if session[:from] == 'fb_planning' %>
          <h4>
            <i>Les destinations préférées des Explorizers</i>
          </h4>
          <div class="container">
            <div class="row text-center">
              <div class="col-xs-12 col-sm-4">
                <div class="destination-box">
                  <% if user_signed_in? %>
                    <%= link_to explore_destination_trip_path(current_user.trips.create(query: Destination.find(10).name, title: Destination.find(10).name)) do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(10).destination_pictures.third.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(10).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Planifiez mon voyage</small><br>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to '#', onclick:"showSignUpModal(); ga('send', 'event', 'User', 'Thailand', 'Thailand link clicked from hp without being signed in');"  do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(10).destination_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(10).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Inscrivez-vous pour commencer</small><br>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="destination-box">
                  <% if user_signed_in? %>
                    <%= link_to explore_destination_trip_path(current_user.trips.create(query: Destination.find(8).name, title: Destination.find(8).name)) do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(8).destination_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(8).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Planifiez mon voyage</small><br>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to '#', onclick:"showSignUpModal(); ga('send', 'event', 'User', 'Brazil', 'Brazil link clicked from hp without being signed in');"  do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(8).destination_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(8).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Inscrivez-vous pour commencer</small><br>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="destination-box">
                  <% if user_signed_in? %>
                    <%= link_to explore_destination_trip_path(current_user.trips.create(query: Destination.find(9).name, title: Destination.find(9).name)) do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(9).destination_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(9).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Planifiez mon voyage</small><br>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to '#', onclick:"showSignUpModal(); ga('send', 'event', 'User', 'Mexico', 'Mexico link clicked from hp without being signed in');"  do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(9).destination_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(9).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Inscrivez-vous pour commencer</small><br>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
        <% elsif session[:from] == 'gg_thailand' %>
          <div class="container">
            <div class="row text-center">
              <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <div class="destination-box">
                  <% if user_signed_in? %>
                    <%= link_to explore_destination_trip_path(current_user.trips.create(query: Destination.find(10).name, title: Destination.find(10).name)) do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(10).destination_pictures.third.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(10).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Planifiez mon voyage</small><br>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to '#', onclick:"showSignUpModal(); ga('send', 'event', 'User', 'Thailand', 'Thailand link clicked from hp without being signed in');"  do %>
                      <div class="destination-picture text-center">
                        <%= image_tag Destination.find(10).destination_pictures.first.picture.url(:medium), class: "img-responsive" %>
                      </div>
                      <div class="destination-name text-center">
                        <small><%= Destination.find(10).name.capitalize %></small><br>
                      </div>
                      <div class="destination-subname text-center">
                        <small>Inscrivez-vous pour commencer</small><br>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <% if user_signed_in? %>
            <%= form_for(Trip.new, html: { class: "form-inline" }) do |f| %>
              <div class="form-group minor-block" class="text-center">
                <%= f.hidden_field(:latitude, class: 'trip_params') %>
                <%= f.hidden_field(:longitude, class: 'trip_params') %>
                <%= f.hidden_field(:vp_ne_lat, class: 'trip_params') %>
                <%= f.hidden_field(:vp_ne_lng, class: 'trip_params') %>
                <%= f.hidden_field(:vp_sw_lat, class: 'trip_params') %>
                <%= f.hidden_field(:vp_sw_lng, class: 'trip_params') %>
                <%= f.hidden_field(:country_code, class: 'trip_params') %>
                <%= f.search_field(:query, placeholder: t('.searchplaceholder'), required: true ) %>
                <%= f.submit( t('.searchbutton'), class: 'btn btn-info btn-sm', onclick:"ga('send', 'event', 'User', 'Search Button', 'Click on search button from hp');") %>
              </div>
            <% end %>
          <% else %>
            <h3><%= link_to t('.signup'),'#',  {class: "btn btn-info btn-lg fader", onclick:"showSignUpModal(); ga('send', 'event', 'User', 'Sign Up Button', 'Click on sign up button from hp');"}%></h3>
          <% end %>
        <% end %>
      </div>
      <div id="go-to-faq" class='hidden-xs'>
        <%= link_to t('about'), faq_index_path, target: "_blank" %><br>
      </div>
      <div id="arrow-down">
        <i class="fa fa-angle-down fader"></i>
      </div>
    </div>
  </div>
  <div class="help hp-section">
    <div class="vertical-spacer-xs"></div>
    <h2 class="text-center"><%= t('.howitworks') %></h2>
    <p class='text-center container'><%= t('.description') %></p>
    <div class="vertical-spacer-sm"></div>
    <div class="vertical-spacer-xs"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 text-center text-contrast">
          <div class="how-header">
            <i class="fa fa-info-circle"></i>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="how-content">
            <p>1. Lisez les <b>infos</b> à savoir avant de partir</p>
          </div>
          <div class="vertical-spacer"></div>
        </div>
        <div class="col-sm-12 col-md-3 text-center text-contrast">
          <div class="how-header">
            <i class="fa fa-camera-retro"></i>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="how-content">
            <p>2. Découvrez les <b>expériences</b> à destination</p>
          </div>
          <div class="vertical-spacer-xs"></div>
        </div>
        <div class="col-sm-12 col-md-3 text-center text-contrast">
          <div class="how-header">
            <i class="fa fa-bicycle"></i>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="how-content">
            <p>3. Créez votre <b>itinéraire</b> personnel</p>
          </div>
          <div class="vertical-spacer-xs"></div>
        </div>
        <div class="col-sm-12 col-md-3 text-center text-contrast">
          <div class="how-header">
            <i class="fa fa-suitcase"></i>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="how-content">
            <p>4. Imprimez ou emportez votre <b>parcours</b> complet</p>
          </div>
          <div class="vertical-spacer-xs"></div>
        </div>
        <!-- <div class="col-sm-12 col-md-4 text-center text-contrast">
          <div class="how-header">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="how-content">
            <%= t('.item_one') %>
          </div>
          <div class="vertical-spacer"></div>
        </div>
        <div class="col-sm-12 col-md-4 text-center text-contrast">
          <div class="how-header">
            <i class="fa fa-comment"></i>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="how-content">
            <%= t('.item_two') %>
          </div>
          <div class="vertical-spacer"></div>
        </div>
        <div class="col-sm-12 col-md-4 text-center text-contrast">
          <div class="how-header">
            <i class="fa fa-cloud-download"></i>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="how-content">
            <%= t('.item_three') %>
          </div>
          <div class="vertical-spacer"></div>
        </div> -->
      </div>
    </div>
      <div class="logo-container container">
          <div class="row text-center">
            <p><i>powered by</i></p>
          </div>
        <div class="row">
          <div class="col-xs-4 col-sm-2 col-sm-offset-1 vcenter">
            <div class="logo-item text-center">
              <%= image_tag('lp_logo.png', alt:'Lonely Planet Logo Officiel') %>
            </div>
          </div><!-- Remove space when return to the line
          --><div class="col-xs-4 col-sm-2 vcenter">
            <div class="logo-item text-center">
              <%= image_tag('unesco_logo.png', alt:'UNESCO Logo Officiel') %>
            </div>
          </div><!-- Remove space when return to the line
          --><div class="col-xs-4 col-sm-2 vcenter">
            <div class="logo-item text-center">
              <%= image_tag('ta_logo.png', alt:'Trip Advisor Logo Officiel') %>
            </div>
          </div><!-- Remove space when return to the line
          --><div class="col-xs-4 col-sm-2 vcenter">
            <div class="logo-item text-center">
              <%= image_tag('gdr_logo.png', alt:'Le Guide du Routard Logo Officiel') %>
            </div>
          </div>
          <div class="col-xs-4 col-sm-2 vcenter">
            <div class="logo-item text-center">
              <%= image_tag('thousandplaces_logo.png', alt:'Thousand Places Logo Officiel') %>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer"></div>
      <% unless session[:from]  %>
        <h2 class="text-center"><%= t('.destination_title') %></h2>
        <p class='text-center'><%= t('.destination_tagline') %></p>
        <%= link_to Destination.find(10) do %>
          <div class="destination-item text-center">
            <%= image_tag(Destination.find(10).destination_pictures.second.picture.url(:banner), class: 'max-width') %>
            <div class="destination-name text-center">
              <%= Destination.find(10).name.capitalize %>
            </div>
          </div>
        <% end %>
        <div class="vertical-spacer-sm"></div>
        <div class="experience-promo">
          <h2 class="text-center"><%= t('.experiences_title') %></h2>
          <p class='text-center'><%= t('.experiences_tagline') %></p>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="experience-box">
                <%= link_to experience_path(557), target: "_blank" do %>
                  <div class="experience-picture text-center">
                    <%= image_tag Experience.find(557).experience_pictures.first.picture.url(:medium) %>
                  </div>
                  <div class="experience-name text-center">
                    <small><%= Experience.find(557).name%></small><br>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="experience-box">
                <%= link_to experience_path(272), target: "_blank" do %>
                  <div class="experience-picture text-center">
                    <%= image_tag Experience.find(272).experience_pictures.first.picture.url(:medium) %>
                  </div>
                  <div class="experience-name text-center">
                    <small><%= Experience.find(272).name%></small><br>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="experience-box">
                <%= link_to experience_path(311), target: "_blank" do %>
                  <div class="experience-picture text-center">
                    <%= image_tag Experience.find(311).experience_pictures.first.picture.url(:medium) %>
                  </div>
                  <div class="experience-name text-center">
                    <small><%= Experience.find(311).name%></small><br>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="vertical-spacer-xs"></div>
          <div class="row text-center">
            <%= link_to t('.other_experiences'), experiences_path, {class: "btn btn-info"} %>
          </div>
        </div>

        <div class="vertical-spacer"></div>
        <h2 class="text-center"><%= t('.explore_map_title') %></h2>
        <p class='text-center'><%= t('.explore_map_tagline') %></p>
        <%= link_to map_path do %>
          <div class="destination-item text-center">
            <%= image_tag('maphands.jpg', width: 851, height: 440, class: 'max-width') %>
            <div class="destination-name text-center">
              <%= t('.interactive_map') %> <br>
              <small>Voir les expériences du monde entier</small>
            </div>
          </div>
        <% end %>
        <div class="vertical-spacer hide-xs"></div>
      <% end %>
      </div>
  <%= render partial: 'shared/footer' %>
</div>
<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;key=AIzaSyCf77HD5LQkLbAcZWkBXKj-DLkXQJ9vHEc" %>
<% end %>
<%= content_for(:after_js) do %>
  <% if flash[:notice] && user_signed_in? %>
  <% if session[:from]  %>
    <% current_user.update(from_campaign: session[:from]) if current_user.from_campaign.nil?   %>
  <% end %>
    <script>
      // Google analytics event
      ga('send', 'event', 'User', 'Sign up / Sign in', 'Flash notice message detected');
    </script>
  <% end %>
<% end %>