<% if trip && trip.user == current_user %>
  <div class="user-action text-center">
    <% if trip_experiences.any? %>
      <%= link_to [trip, trip_experiences.first], remote: true, method: :delete, onclick:"ga('send', 'event', 'User', 'Experience Delete', 'User clicked on delete experience from modal');" do %>
        <span><i id='ib-remove-trip-exp' class="fa fa-heart"></i> <%= t('removefromtrip') %></span>
      <% end %>
    <% else %>
      <span>
        <%= form_for([trip, TripExperience.new], remote: true) do |f| %>
          <%= f.hidden_field :experience_id, value: experience.id %>
          <%= f.button :submit, class: "btn btn-link", onclick:"ga('send', 'event', 'User', 'Experience Add', 'User clicked on add experience from modal');" do %>
            <b><i class='fa fa-heart'></i></b> <%= t('addtotrip') %>
          <% end %>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
<div id="exp-modal-tabs">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
    <li><a href="#descriptif" data-toggle="tab">Pourquoi y aller ?</a></li>
    <% if experience.experience_reviews.any? || experience.leader_reviews.any? %>
      <li><a href="#reviews" data-toggle="tab">Conseils et avis</a></li>
    <% end %>
    <li><a href="#getthere" data-toggle="tab">Infos pratiques</a></li>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="photos">
    <% if experience.experience_pictures.size > 0 %>
      <div id="owl-experiences-banner" class="owl-carousel banner text-center">
        <% experience.experience_pictures.sort_by {|pic| pic.id }.each do |pic| %>
          <div class="item-banner" style="max-width: 100%">
            <%= image_tag(pic.picture.url(:banner)) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="descriptif">
    <div class="experience-content text-justify">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="experience-onesentence text-center">
            <br>
            <%= simple_format experience.onesentence %>
          </div>
          <% if experience.category_tab.length > 0 %>
            <div class="experience-category">
              <p> Pour ceux qui veulent :
              <% if experience.category_tab.include?('otbt') %>
                <b>sortir des sentiers battus</b> |
              <% end %>
              <% if experience.category_tab.include?('nature') %>
                <b>être dépaysé</b> |
              <% end %>
              <% if experience.category_tab.include?('culture') %>
                <b>se cultiver</b> |
              <% end %>
              <% if experience.category_tab.include?('sport') %>
                <b>se dépenser</b> |
              <% end %>
              <% if experience.category_tab.include?('relax') %>
                <b>se reposer</b> |
              <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <% if experience.good_points.length > 0 || experience.bad_points.length > 0 %>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="good-bad-points">
              <div class="row text-center">
                <div class="col-xs-12 col-sm-6">
                  <i class="fa fa-plus-circle"></i>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <i class="fa fa-minus-circle"></i>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-12 col-sm-6">
                  <p><%= simple_format experience.good_points %></p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <p><%= simple_format experience.bad_points %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <div id="block-separator"></div>
          </div>
        </div>
      <% end %>
      <br>
      <% if experience.unesco && experience.thousand_places %>
        <div class="experience-links text-center">
          <div class="row text-center">
            <div class="col-xs-6">
              <%= image_tag('unesco_logo.png', height: 30, alt:'UNESCO Logo Officiel') %>
            </div>
            <div class="col-xs-6">
              <%= image_tag('thousandplaces_logo.png', height: 30, alt:'Thousand Places Logo Officiel') %>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-6">
              <p>Patrimoine mondial de l'<a href="http://whc.unesco.org/fr/list/" target="_blank">UNESCO</a></p>
            </div>
            <div class="col-xs-6">
              <p>L'un des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <div id="block-separator"></div>
          </div>
        </div>
      <% elsif experience.unesco %>
        <div class="experience-links text-center">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <%= image_tag('unesco_logo.png', height: 50, alt:'UNESCO Logo Officiel') %><br>
          <p>Patrimoine mondial de l'<a href="http://whc.unesco.org/fr/list/" target="_blank">UNESCO</a></p>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <div id="block-separator"></div>
          </div>
        </div>
      <% elsif experience.thousand_places %>
        <div class="experience-links text-center">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <%= image_tag('thousandplaces_logo.png', height: 40, alt:'Thousand Places Logo Officiel') %><br>
          <p>L'un des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <div id="block-separator"></div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="experience-description-title">
            <p>Description</p>
          </div>
          <div class="experience-description text-justify">
            <%= simple_format experience.description %>
          </div>
          <!-- <div class="experience-links text-center">
            <% if experience.unesco && experience.thousand_places && experience.wikipedia_link %>
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator"></div>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-4">
                  <%= image_tag('unesco_logo.png', height: 30, alt:'UNESCO Logo Officiel') %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag('thousandplaces_logo.png', height: 30, alt:'Thousand Places Logo Officiel') %>
                </div>
                <div class="col-xs-4">
                  <%= image_tag('wiki_logo.png', height: 40, alt:'Wikipedia Logo Officiel') %>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-4">
                  <p>Patrimoine mondial de l'<a href="http://whc.unesco.org/fr/list/" target="_blank">UNESCO</a></p>
                </div>
                <div class="col-xs-4">
                  <p>L'un des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
                </div>
                <div class="col-xs-4">
                  <p>Voir sur <a href="<%= experience.wikipedia_link %>" target="_blank"> Wikipedia</a></p>
                </div>
              </div>
            <% elsif experience.unesco && experience.wikipedia_link %>
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator"></div>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-6">
                  <%= image_tag('unesco_logo.png', height: 30, alt:'UNESCO Logo Officiel') %>
                </div>
                <div class="col-xs-6">
                  <%= image_tag('wiki_logo.png', height: 40, alt:'Wikipedia Logo Officiel') %>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-6">
                  <p>Patrimoine mondial de l'<a href="http://whc.unesco.org/fr/list/" target="_blank">UNESCO</a></p>
                </div>
                <div class="col-xs-6">
                  <p>Voir sur <a href="<%= experience.wikipedia_link %>" target="_blank"> Wikipedia</a></p>
                </div>
              </div>
            <% elsif experience.thousand_places && experience.wikipedia_link %>
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator"></div>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-6">
                  <%= image_tag('thousandplaces_logo.png', height: 30, alt:'Thousand Places Logo Officiel') %>
                </div>
                <div class="col-xs-6">
                  <%= image_tag('wiki_logo.png', height: 40, alt:'Wikipedia Logo Officiel') %>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-6">
                  <p>L'un des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
                </div>
                <div class="col-xs-6">
                  <p>Voir sur <a href="<%= experience.wikipedia_link %>" target="_blank"> Wikipedia</a></p>
                </div>
              </div>
            <% elsif experience.unesco && experience.thousand_places %>
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator"></div>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-6">
                  <%= image_tag('unesco_logo.png', height: 30, alt:'UNESCO Logo Officiel') %>
                </div>
                <div class="col-xs-6">
                  <%= image_tag('thousandplaces_logo.png', height: 30, alt:'Thousand Places Logo Officiel') %>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-6">
                  <p>Patrimoine mondial de l'<a href="http://whc.unesco.org/fr/list/" target="_blank">UNESCO</a></p>
                </div>
                <div class="col-xs-6">
                  <p>L'un des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
                </div>
              </div>
            <% elsif experience.wikipedia_link %>
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator"></div>
                </div>
              </div>
              <%= image_tag('wiki_logo.png', height: 40, alt:'Wikipedia Logo Officiel') %><br>
              <p>Voir sur <a href="<%= experience.wikipedia_link %>" target="_blank"> Wikipedia</a></p>
            <% elsif experience.unesco %>
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator"></div>
                </div>
              </div>
              <%= image_tag('unesco_logo.png', height: 50, alt:'UNESCO Logo Officiel') %><br>
              <p>Patrimoine mondial de l'<a href="http://whc.unesco.org/fr/list/" target="_blank">UNESCO</a></p>
            <% elsif experience.thousand_places %>
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                  <div id="block-separator"></div>
                </div>
              </div>
              <%= image_tag('thousandplaces_logo.png', height: 40, alt:'Thousand Places Logo Officiel') %><br>
              <p>L'un des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
            <% end %>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <% if experience.experience_reviews.any? || experience.leader_reviews.any? %>
    <div class="tab-pane" id="reviews">
      <% if experience.explorizers_tip.length > 0 %>
        <div class="row text-center">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="experience-explorizers-tip-title text-center">
              <br><p>Le conseil Explorizers</p>
            </div>
            <div class="experience-explorizers-tip text-center">
              <%= simple_format experience.explorizers_tip %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <div id="block-separator"></div>
          </div>
        </div>
      <% end %>
      <% if experience.leader_reviews.any? %>
        <div class="experience-explorizers-tip-title text-center">
          <br><p>Avis des guides</p>
        </div>
        <div class="leader-reviews">
          <% if experience.leader_reviews.first != experience.leader_reviews.last && experience.ta_rating %>
            <div class="row text-center">
              <div class="col-xs-4">
                <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %><br>
              </div>
              <div class="col-xs-4">
                <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %><br>
              </div>
              <div class="col-xs-4">
                <div class="ta_logo">
                  <%= image_tag('ta_logo_rating.png')%>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-4">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% end %>
              </div>
              <div class="col-xs-4">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% end %>
              </div>
              <div class="col-xs-4">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating.round(1) %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.leader_reviews.first != experience.leader_reviews.last %>
            <div class="row text-center">
              <div class="col-xs-6">
                <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %>
              </div>
              <div class="col-xs-6">
                <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %>
              </div>
            </div>
            <br>
            <div class="row text-center">
              <div class="col-xs-6 col-sm-6">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% end %>
              </div>
              <div class="col-xs-6 col-sm-6">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% end %>
              </div>
            </div>
          <% elsif experience.leader_reviews.first == experience.leader_reviews.last && experience.ta_rating %>
            <div class="row text-center">
              <div class="col-xs-6">
                <div class="ta_logo">
                  <%= image_tag('ta_logo_rating.png')%>
                </div>
              </div>
              <div class="col-xs-6 vcenter">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %>
                  </div>
                <% else %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-6">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating.round(1) %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
              <div class="col-xs-6">
                <p>"<%= experience.leader_reviews.first.comment %>"</p>
              </div>
            </div>
          <% elsif experience.leader_reviews.first == experience.leader_reviews.last %>
            <div class="row text-center">
              <div class="col-xs-6 vcenter">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %>
                  </div>
                <% else %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-6 vcenter">
                <p>"<%= experience.leader_reviews.first.comment %>"</p>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Pas de commentaire des guides pour cette expérience ; elle est hors des sentiers battus !</p>
      <% end %>
      <% if experience.experience_reviews.any? %>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <div id="block-separator"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <span class="text-center"><p><u>CONSEILS DES VOYAGEURS</u></p></span>
            <div class="user-reviews">
              <% experience.experience_reviews.each do |experience_review| %>
                <blockquote>
                  <p>"<%= experience_review.comment %>"</p>
                  <footer><cite title="Source Title"><%= "#{experience_review.name} - #{experience_review.original_date || experience_review.created_at.strftime("%d/%m/%y")} (note: #{experience_review.rating.round(0)})" %></cite></footer>
                </blockquote>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user %>
        <div class="experience-content text center">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <br>
          <% if trip.nil? || trip.user != current_user %>
            <div class="exp-modal-title text-center">
              <p>Vous connaissez cet endroit ? Donnez un conseil ou un avis !</p>
              <%= bootstrap_form_for([@experience, ExperienceReview.new]) do |f| %>
                <%= f.text_field :comment, hide_label: true, placeholder: "Donnez votre avis en 140 caractères max !", required: true, size: 75, maxlength: 140 %>
                <%= f.text_field :name, hide_label: true, placeholder: "Nom", required: true %>
                <%= f.number_field :rating, hide_label: true, placeholder: "Note entre 0 et 10", required: true, min: 0, max: 10 %>
                <%= f.hidden_field(:created_at) %>
                <%= f.submit( t('expbuttonadd'), class: "btn btn-info") %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="tab-pane" id="getthere">
    <div class="subtitles-modal-exp">
      <br>
      <div class="experience-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="experience-detail">
              <% if experience.timetospent %>
                <blockquote><i class="fa fa-clock-o"></i> - <i>temps de visite</i> :  <%= experience.timetospent %></blockquote>
              <% end %>
              <% if experience.wheretosleep %>
                <% if experience.wheretosleep.length > 0 %>
                  <br>
                    <blockquote><i class="fa fa-home"></i> - <i>où dormir</i> :  <%= experience.wheretosleep %></blockquote>
                <% end %>
              <% end %>
              <% if experience.transportation %>
                <% if experience.transportation.length > 0 %>
                <br>
                  <blockquote><i class="fa fa-bicycle"></i> - <i>comment s'y rendre</i> : <%= simple_format experience.transportation %></blockquote>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>