<% if trip && trip.user == current_user %>
  <div class="user-action text-center">
    <% if trip_experiences.any? %>
      <%= link_to [trip, trip_experiences.first], remote: true, method: :delete do %>
        <span><i id='ib-remove-trip-exp' class="fa fa-heart"></i> <%= t('removefromtrip') %></span>
      <% end %>
    <% else %>
      <span>
        <%= form_for([trip, TripExperience.new], remote: true) do |f| %>
          <%= f.hidden_field :experience_id, value: experience.id %>
          <%= f.button :submit, class: "btn btn-link" do %>
            <b><i class='fa fa-heart'></i></b> <%= t('addtotrip') %>
          <% end %>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>

<div id="exp-modal-tabs">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
    <li><a href="#descriptif" data-toggle="tab">Descriptif</a></li>
    <% if experience.experience_reviews.any? || experience.leader_reviews.any? %>
      <li><a href="#reviews" data-toggle="tab">Avis et conseils</a></li>
    <% end %>
    <li><a href="#getthere" data-toggle="tab">Infos pratiques</a></li>
  </ul>
</div>

<div class="tab-content">

  <div class="tab-pane active" id="photos">
    <% if experience.experience_pictures.size > 0 %>
        <div id="owl-experiences-banner" class="owl-carousel banner text-center">
          <% experience.experience_pictures.sort_by {|pic| pic.id }.each do |pic| %>
            <div class="item-banner" style="max-width: 100%">
              <%= image_tag(pic.picture.url(:banner)) %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="tab-pane" id="descriptif">
    <div class="experience-content text-justify">
      <br>
      <div class="experience-description text-justify">
        <%= simple_format experience.description %>
      </div>
      <div class="experience-onesentence text-center">
        <%= simple_format experience.onesentence %>
      </div>

      <div class="experience-links text-center">
        <% if experience.unesco && experience.thousand_places %>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-6">
              <%= image_tag('unesco_logo.png', height: 30, alt:'UNESCO Logo Officiel') %>
            </div>
            <div class="col-xs-6">
              <%= image_tag('thousandplaces_logo.png', height: 30, alt:'Thousand Places Logo Officiel') %>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-6">
              <p>Classé au <a href="http://whc.unesco.org/fr/list/" target="_blank">Patrimoine mondial de l'UNESCO</a></p>
            </div>
            <div class="col-xs-6">
              <p>Figure sur la Liste des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
            </div>
          </div>
        <% elsif experience.unesco %>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <%= image_tag('unesco_logo.png', height: 50, alt:'UNESCO Logo Officiel') %><br>
          <p>Classé au <a href="http://whc.unesco.org/fr/list/" target="_blank">Patrimoine mondial de l'UNESCO</a></p>
        <% elsif experience.thousand_places %>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <%= image_tag('thousandplaces_logo.png', height: 40, alt:'Thousand Places Logo Officiel') %><br>
          <p>Figure sur la Liste des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
        <% end %>
        <% if experience.wikipedia_link %>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <%= image_tag('wiki_logo.png', height: 40, alt:'Wikipedia Logo Officiel') %><br>
          <a href="<%= experience.wikipedia_link %>" target="_blank">  Voir sur Wikipedia</a>
        <% end %>
      </div>
    </div>
  </div>


  <div class="tab-pane" id="getthere">
    <div class="subtitles-modal-exp">
      <br>
      <div class="experience-content">
        <div class="experience-detail">
          <% if experience.timetospent %>
            <u>Temps de visite recommandé</u> : <%= experience.timetospent %>
          <% end %>
          <% if experience.wheretosleep %>
          <br><br>
            <u>Où dormir</u> : <%= experience.wheretosleep %>
          <% end %>
          <% if experience.transportation %>
          <br><br>
            <u>Comment s'y rendre</u> : <%= simple_format experience.transportation %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if experience.experience_reviews.any? || experience.leader_reviews.any? %>
    <div class="tab-pane" id="reviews">
      <br>
      <br>
      <% if experience.leader_reviews.any? %>
        <div class="leader-reviews">
          <% if experience.leader_reviews.first != experience.leader_reviews.last && experience.ta_rating %>
            <div class="row text-center">
              <div class="col-xs-4">
                <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %><br>
              </div>
              <div class="col-xs-4">
                <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %><br>
              </div>
              <div class="col-xs-4">
                <div class="ta_logo">
                  <%= image_tag('ta_logo_rating.png')%>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-4">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% end %>
              </div>
              <div class="col-xs-4">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% end %>
              </div>
              <div class="col-xs-4">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating.round(1) %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.leader_reviews.first != experience.leader_reviews.last %>
            <div class="row text-center">
              <div class="col-xs-6">
                <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %>
              </div>
              <div class="col-xs-6">
                <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %>
              </div>
            </div>
            <br>
            <div class="row text-center">
              <div class="col-xs-6 col-sm-6">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% end %>
              </div>
              <div class="col-xs-6 col-sm-6">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <p>"<%= experience.leader_reviews.second.comment %>"</p>
                <% else %>
                  <p>"<%= experience.leader_reviews.first.comment %>"</p>
                <% end %>
              </div>
            </div>
          <% elsif experience.leader_reviews.first == experience.leader_reviews.last && experience.ta_rating %>
            <div class="row text-center">
              <div class="col-xs-6">
                <div class="ta_logo">
                  <%= image_tag('ta_logo_rating.png')%>
                </div>
              </div>
              <div class="col-xs-6 vcenter">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %>
                  </div>
                <% else %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-6">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating.round(1) %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
              <div class="col-xs-6">
                <p>"<%= experience.leader_reviews.first.comment %>"</p>
              </div>
            </div>
          <% elsif experience.leader_reviews.first == experience.leader_reviews.last %>
            <div class="row text-center">
              <div class="col-xs-6 vcenter">
                <% if experience.leader_reviews.first.source =~ /Lonely Planet/ %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('lp_logo.png', height: 40, alt:'Lonely Planet Logo Officiel') %>
                  </div>
                <% else %>
                  <div class="col-xs-6 vcenter">
                    <%= image_tag('gdr_logo.png', height: 40, alt:'Le Guide du Routard Logo Officiel') %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-6 vcenter">
                <p>"<%= experience.leader_reviews.first.comment %>"</p>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Pas de commentaire des guides pour cette expérience ; elle est hors des sentiers battus !</p>
      <% end %>
      <!-- <div class="experience-rating">
        <% if experience.ta_rating || experience.gg_rating || experience.fsq_rating %>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>

          <% if experience.ta_rating && experience.gg_rating && experience.fsq_rating %>
            <div class="row text-center">
              <div class="col-xs-4">
                <div class="ta_logo">
                  <%= image_tag('ta_logo_rating.png')%>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="gg_logo">
                  <%= image_tag('gg_logo_rating.png') %>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="fsq_logo">
                  <%= image_tag('fsq_logo_rating.png') %>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-4">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
              <div class="col-xs-4">
                <span class="gg-color rating-score"><strong><%= experience.gg_rating %></strong> <small>/5</small></span> <small><em>(<%=experience.gg_votes%> votes)</em></small>
              </div>
              <div class="col-xs-4">
                <span class="fsq-color rating-score"><strong><%= experience.fsq_rating %></strong> <small>/10</small></span> <small><em>(<%=experience.fsq_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.ta_rating  && experience.gg_rating %>
            <div class="row text-center">
              <div class="col-xs-6">
                <div class="ta_logo">
                  <div class="ta_logo">
                    <%= image_tag('ta_logo_rating.png')%>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="gg_logo">
                  <%= image_tag('gg_logo_rating.png') %>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-6">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
              <div class="col-xs-6">
                <span class="gg-color rating-score"><strong><%= experience.gg_rating %></strong> <small>/5</small></span> <small><em>(<%=experience.gg_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.ta_rating  && experience.fsq_rating %>
            <div class="row text-center">
              <div class="col-xs-6">
                <div class="ta_logo">
                  <%= image_tag('ta_logo_rating.png')%>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="fsq_logo">
                  <%= image_tag('fsq_logo_rating.png') %>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-6">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
              <div class="col-xs-6">
                <span class="fsq-color rating-score"><strong><%= experience.fsq_rating %></strong> <small>/10</small></span> <small><em>(<%=experience.fsq_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.gg_rating  && experience.fsq_rating %>
            <div class="row text-center">
              <div class="col-xs-6">
                <div class="gg_logo">
                  <%= image_tag('gg_logo_rating.png') %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="fsq_logo">
                  <%= image_tag('fsq_logo_rating.png') %>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-6">
                <span class="gg-color rating-score"><strong><%= experience.gg_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.gg_votes%> votes)</em></small>
              </div>
              <div class="col-xs-6">
                <span class="fsq-color rating-score"><strong><%= experience.fsq_rating %></strong> <small>/10</small></span> <small><em>(<%=experience.fsq_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.ta_rating %>
            <div class="row text-center">
              <div class="col-xs-12">
                <div class="ta_logo">
                  <%= image_tag('ta_logo_rating.png')%>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-12">
                <span class="ta-color rating-score"><strong><%= experience.ta_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.gg_rating %>
            <div class="row text-center">
              <div class="col-xs-12">
                <div class="gg_logo">
                  <%= image_tag('gg_logo_rating.png') %>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-12">
                <span class="gg-color rating-score"><strong><%= experience.gg_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.gg_votes%> votes)</em></small>
              </div>
            </div>
          <% elsif experience.fsq_rating %>
            <div class="row text-center">
              <div class="col-xs-12">
                <div class="fsq_logo">
                  <%= image_tag('fsq_logo_rating.png') %>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-12">
                <span class="fsq-color rating-score"><strong><%= experience.fsq_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.fsq_votes%> votes)</em></small>
              </div>
            </div>
          <% end %>
        <% end %>
      </div> -->

      <% if experience.experience_reviews.any? %>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
            <div id="block-separator"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <span class="text-center"><p><u>CONSEILS DES VOYAGEURS</u></p></span>
            <div class="user-reviews">
              <% experience.experience_reviews.each do |experience_review| %>
                <blockquote>
                  <p>"<%= experience_review.comment %>"</p>
                  <footer><cite title="Source Title"><%= "#{experience_review.name} - #{experience_review.original_date || experience_review.created_at.strftime("%d/%m/%y")} (note: #{experience_review.rating.round(0)})" %></cite></footer>
                </blockquote>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user %>
        <div class="experience-content text center">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
              <div id="block-separator"></div>
            </div>
          </div>
          <br>
          <div class="exp-modal-title text-center">
            <p>Vous connaissez cet endroit ? Donnez un conseil ou un avis !</p>
            <%= bootstrap_form_for([@experience, ExperienceReview.new]) do |f| %>
              <%= f.text_field :comment, hide_label: true, placeholder: "Donnez votre avis en 140 caractères max !", required: true, size: 75, maxlength: 140 %>
              <%= f.text_field :name, hide_label: true, placeholder: "Nom", required: true %>
              <%= f.number_field :rating, hide_label: true, placeholder: "Note entre 0 et 10", required: true, min: 0, max: 10 %>
              <%= f.hidden_field(:created_at) %>
              <%= f.submit( t('expbuttonadd'), class: "btn btn-info") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

