<% if experience.experience_pictures.size > 0 %>
    <div id="owl-experiences-banner" class="owl-carousel banner text-center">
      <% experience.experience_pictures.sort_by {|pic| pic.id }.each do |pic| %>
        <div class="item-banner" style="max-width: 100%">
          <%= image_tag(pic.picture.url(:banner)) %>
        </div>
      <% end %>
    </div>
<% end %>
<% if trip && trip.user == current_user %>
  <div class="user-action">
    <% if trip_experiences.any? %>
      <%= link_to [trip, trip_experiences.first], remote: true, method: :delete do %>
        <span><i id='ib-remove-trip-exp' class="fa fa-heart"></i> <%= t('removefromtrip') %></span>
      <% end %>
    <% else %>
      <span>
        <%= form_for([trip, TripExperience.new], remote: true) do |f| %>
          <%= f.hidden_field :experience_id, value: experience.id %>
          <%= f.button :submit, class: "btn btn-link" do %>
            <i class='fa fa-heart'></i> <%= t('addtotrip') %>
          <% end %>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
<div class="experience-content">
 <%= simple_format experience.description %>
</div>
<div class="experience-reviews">
  <% if experience.leader_reviews.any? %>
  <div class="leader-reviews">
    <% experience.leader_reviews.each do |leader_review| %>
      <blockquote>
        <p><%= leader_review.comment %></p>
        <footer>d'après <cite title="Source Title"><%= leader_review.source %></cite></footer>
      </blockquote>
    <% end %>
  </div>
  <% end %>
  <% if experience.leader_reviews.any? %>
  <div class="user-reviews">
    <% experience.experience_reviews.each do |experience_review| %>
      <blockquote>
        <p><%= experience_review.comment %></p>
        <footer><cite title="Source Title"><%= "#{experience_review.name} le #{experience_review.original_date} (score: #{experience_review.rating} / 10)" %></cite></footer>
      </blockquote>
    <% end %>
  </div>
  <% end %>
</div>

