<% if trip && trip.user == current_user %>
  <div class="user-action text-center">
    <% if trip_experiences.any? %>
      <%= link_to [trip, trip_experiences.first], remote: true, method: :delete do %>
        <span><i id='ib-remove-trip-exp' class="fa fa-heart"></i> <%= t('removefromtrip') %></span>
      <% end %>
    <% else %>
      <span>
        <%= form_for([trip, TripExperience.new], remote: true) do |f| %>
          <%= f.hidden_field :experience_id, value: experience.id %>
          <%= f.button :submit, class: "btn btn-link" do %>
            <i class='fa fa-heart'></i> <%= t('addtotrip') %>
          <% end %>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>

<div id="exp-modal-tabs">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
    <li><a href="#descriptif" data-toggle="tab">Descriptif</a></li>
    <li><a href="#reviews" data-toggle="tab">Avis et conseils</a></li>
    <li><a href="#getthere" data-toggle="tab">Comment s'y rendre</a></li>
    <li><a href="#user_review" data-toggle="tab"><i>Donne ton avis</i></a></li>
  </ul>
</div>

<div class="tab-content">

  <div class="tab-pane active" id="photos">
    <% if experience.experience_pictures.size > 0 %>
        <div id="owl-experiences-banner" class="owl-carousel banner text-center">
          <% experience.experience_pictures.sort_by {|pic| pic.id }.each do |pic| %>
            <div class="item-banner" style="max-width: 100%">
              <%= image_tag(pic.picture.url(:banner)) %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="tab-pane" id="descriptif">
<!--     <div class="subtitles-modal-exp">
      <br>
      <p><u>Descriptif</u></p>
    </div> -->
    <div class="experience-content text-justify">
      <br>
      <%= simple_format experience.description %>
      <br>
      <% if experience.wikipedia_link %>
        <p>
          <a href="<%= experience.wikipedia_link %>" target="_blank">
            Voir sur Wikipedia
          </a>
        </p>
      <% end %>
      <% if experience.thousand_places %>
        <p>- Figure sur la Liste des <a href="http://1000places.com/" target="_blank">1 000 lieux à voir dans sa vie</a></p>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="reviews">
    <% if experience.experience_reviews.any? || experience.leader_reviews.any? %>
    <br>
    <table>
      <tr>
        <td class="vertical-align-top width-split">
          <span class="text-center"><p><u>Avis des experts</u></p></span>
          <% if experience.leader_reviews.any? %>
            <div class="leader-reviews">
              <% experience.leader_reviews.each do |leader_review| %>
                <blockquote>
                  <p>"<b><%= leader_review.comment %></b>", selon le <%= leader_review.source %></p>
                </blockquote>
              <% end %>
            </div>
          <% else %>
            <p>Pas de critique trouvée pour cette expérience...</p>
          <% end %>
        </td>
        <% if experience.ta_rating || experience.gg_rating || experience.fsq_rating %>
        <td class="width-split vertical-align-top">
          <span class="text-center"><p><u>Note globale: <%= experience.average_rating %>/10 <small><em>(<%=experience.nb_votes%> votes)</em></small></u></p></span>
          <table>
            <% if experience.ta_rating %>
              <tr>
                <td class="rating-cell vertical-align-middle">
                  <%= image_tag('ta_logo_rating.png', class: "fixed-height") %>
                </td>
                <td class="vertical-align-middle">
                     <span class="ta-color rating-score"><strong><%= experience.ta_rating %></strong> <small>/5</small></span>   <small><em>(<%=experience.ta_votes%> votes)</em></small>
                </td>
              </tr>
            <% end %>
            <% if experience.gg_rating %>
              <tr>
                <td class="rating-cell vertical-align-middle">
                  <%= image_tag('gg_logo_rating.png', class: "fixed-height") %>
                </td>
                <td class="vertical-align-middle">
                     <span class="gg-color rating-score"><strong><%= experience.gg_rating %></strong> <small>/5</small></span> <small><em>(<%=experience.gg_votes%> votes)</em></small>
                </td>
              </tr>
            <% end %>
            <% if experience.fsq_rating %>
              <tr>
                <td class="rating-cell vertical-align-middle">
                  <%= image_tag('fsq_logo_rating.png', class: "small-height") %>
                </td>
                <td class="vertical-align-middle">
                     <span class="fsq-color rating-score"><strong><%= experience.fsq_rating %></strong> <small>/10</small></span> <small><em>(<%=experience.fsq_votes%> votes)</em></small>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
        <% end %>
      </tr>
    </table>
      <% if experience.experience_reviews.any? %>
        <div>
          <span class="text-center"><p><u>Conseils des voyageurs</u></p></span>
          <div class="user-reviews">
            <% experience.experience_reviews.each do |experience_review| %>
              <blockquote>
                <p>"<%= experience_review.comment %>"</p>
                <footer><cite title="Source Title"><%= "#{experience_review.name} le #{experience_review.original_date || experience_review.created_at.strftime("%d/%m/%y")} (note: #{experience_review.rating} / 10)" %></cite></footer>
              </blockquote>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
    <p>
      Coming soon...
    </p>
    <% end %>
  </div>

  <div class="tab-pane" id="getthere">
<!--     <div class="subtitles-modal-exp">
      <br>
      <p><u>Comment s'y rendre</u></p>
    </div> -->
    <div class="experience-content">
      <br>
      <p>Coming soon...</p>
    </div>
    <br>
  </div>

  <div class="tab-pane" id="user_review">
    <div class="experience-content text center">
      <br>
      <p>Tu connais cet endroit? Donne ton avis!</p>
      <%= bootstrap_form_for([@experience, ExperienceReview.new]) do |f| %>
            <%= f.text_field :comment, hide_label: true, placeholder: "Donne ton avis en 140 caractères max!", required: true, size: 75, maxlength: 140 %>
            <%= f.text_field :name, hide_label: true, placeholder: "Ton petit nom", required: true %>
            <%= f.number_field :rating, hide_label: true, placeholder: "Note entre 0 et 10", required: true, min: 0, max: 10 %>
            <%= f.hidden_field(:created_at) %>
            <%= f.submit( t('expbuttonadd'), class: "btn btn-info") %>
          <% end %>
    </div>
    <br>
  </div>

</div>

