<%= bootstrap_form_for(@experience) do |f| %>
  <!-- Errors explanation -->
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- form -->
  <div class="actions">
    <%= f.text_field :name %>
    <%= f.text_field :address %>
    <%= f.text_area :description %>
    <%= f.collection_select(:category, ['sports', 'landscape', 'sea', 'desert'], ) %>
    <%= f.submit 'Create' %>
  </div>
<% end %>
