<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
  <div class="box-content">
    <%= bootstrap_form_for(@experience) do |f| %>
      <!-- Errors explanation -->
      <% if @experience.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>
          <ul>
          <% @experience.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <!-- Form -->
      <div class="actions">
        <%= f.text_field :name, placeholder: "Jurassic Park" %>
        <%= f.text_field :address, placeholder: "Isla Nublar, Costa Rica" %>
        <%= f.text_area :description, placeholder: "Park closed in 1993, due to reopen in 2015" %>
        <%= f.submit( t('expbuttonadd'), class: "btn btn-primary") %>

      </div>
    <% end %>
  </div>
</div>

<% content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCf77HD5LQkLbAcZWkBXKj-DLkXQJ9vHEc" %>
<% end %>
