<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>Listing experiences</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div id="map">
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <table>
          <thead>
            <tr>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @experiences.each do |experience| %>
              <tr>
                <td><%= experience.name %></td>
                <td><%= link_to 'Show', experience %></td>
                <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
                <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <%= link_to 'New Experience', new_experience_path %>
    </div>
  </div>
</div>


<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"%>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        <!-- console.log(markers) -->
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
