<%= content_for(:navbar) do %>
  <%= 'shared/navbar2.html.erb' %>
<% end %>


<div class="wrapper">

  <div id="titleblock" class="text-center">
    <div class="title">
      <h2><%= t('.title', :default => "New experience") %></h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h4> <%= t('.text1') %></h4><br>
      <h4> <%= t('.text2') %></h4><br>
    </div>
  </div>


<%= render 'form' %>


</div>

