<div class="container content">

  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= t('.sign_in', :default => "Sign in") %></h2>
    </div>
  </div>


  <div class="col-sm-6 col-sm-offset-3 text-center">

    <div id="sign-form">

      <div class="col-xs-12 text-center">

        <div id="fb-login">

          <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-lg btn-facebook" do %>
            <i class="fa fa-facebook"></i> <%= t('fbbutton') %>
          <% end %>
        </div>

      </div>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.label :email do %>
          <br />
          <i class="fa fa-envelope-o fa-2x"></i>
          <%= f.email_field :email, placeholder: "Email" %>
          <% end %>
        </div>

        <div><%= f.label :password do %>
          <br />
          <i class="fa fa-key fa-2x"></i>
          <%= f.password_field :password, placeholder: t('passwordplaceholder') %></div>
        <% end %>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end %>

          <div><%= f.submit t('.sign_in', :default => "Sign in") %></div>
        <% end %>

        <div><%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to t('noaccount'), new_registration_path(resource_name) %><br />
          <% end -%>
        </div>
        <div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <br />
          <% end -%>
        </div>

      </div>

    </div>
  </div>
</div>



<%= render "devise/shared/links" %>



