<li class="panel panel-info" id="<%= trip_exp.id %>">
  <div class="panel-heading"><%= trip_exp.experience.name %>
    <% unless guest_user %>
      <%= link_to [trip_exp.trip, trip_exp], remote: true, method: :delete do %>
        <i class="fa fa-times pull-right"></i>
      <% end %>
    <% end %>
    <%= link_to experience_detail_path(trip_exp.experience.id), remote: true do %>
      <i class="fa fa-search pull-right"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="panel-body-pic">
      <%= image_tag trip_exp.experience.experience_pictures.first.picture.url(:thumb) if trip_exp.experience.experience_pictures.first %>
    </div>
    <div class="panel-body-content">
      <%= trip_exp.experience.description %>
    </div>
  </div>
</li>
