<% if trip_exp %>
  <li class="panel panel-info" id="<%= trip_exp.id %>">
    <div class='exp-dotdotdot <%= "exp-#{trip_exp.id}" %>' data-experience_id='<%= trip_exp.experience.id %>' data-lat='<%= trip_exp.experience.latitude %>' data-lng='<%= trip_exp.experience.longitude %>'>
      <div class="panel-heading">
        <% unless guest_user %>
          <%= link_to modal_exp_path(trip_exp.trip.id, trip_exp.experience.id), remote: true, onclick:"ga('send', 'event', 'User', 'Experience Detail', 'User clicked on trip experience title from experience block');" do %>
            <%= "#{trip_exp.experience.name}" %>
            <% if trip_exp.experience.nb_votes && trip_exp.experience.leader_reviews.length == 0 %>
              <small><em><%= " (#{trip_exp.experience.nb_votes} votes)"%></em></small>
            <% end %>
          <% end %>
          <%= link_to [trip_exp.trip, trip_exp], remote: true, method: :delete, onclick:"ga('send', 'event', 'User', 'Experience Delete', 'User clicked on delete experience from experience block');" do %>
            <span class="pull-right">
              <i class="fa fa-heart"></i>
            </span>
          <% end %>
        <% else %>
          <%= trip_exp.experience.name %>
        <% end %>
      </div>
      <div class="panel-body">
        <table>
          <tbody>
            <tr>
              <% if trip_exp.experience.experience_pictures.any? %>
                <td class="thumb-pic">
                  <%= link_to modal_exp_path(trip_exp.trip.id, trip_exp.experience.id), remote: true, onclick:"ga('send', 'event', 'User/Guest', 'Experience Detail', 'User/Guest clicked on trip experience body from experience block');" do %>
                    <%= image_tag trip_exp.experience.experience_pictures.sort_by {|pic| pic.id }.first.picture.url(:small), class: "img-#{trip_exp.id}" if trip_exp.experience.experience_pictures.first %>
                  <% end %>
                </td>
              <% end %>
              <td class="content text-center">
                <div class="text-center">
                  Durée recommandée : <%= trip_exp.experience.timetospent %>
                </div>
                <div class="comment-module">
                  <%= form_for [trip_exp.trip, trip_exp], remote: true do |f| %>
                    <%= f.text_area :comment, placeholder: t('summarize_comment') %>
                    <%= f.submit t('summarize_savecomment'), class: 'btn btn-xs btn-warning', id: trip_exp.id %>
                  <% end %>
                </div>
<!--                   <% if trip_exp.experience.timetospent %>
                  <div class="time-to-spend text-center">
                    <br>
                    Temps de visite recommandé : <br><%= trip_exp.experience.timetospent %>
                  </div>
                <% end %> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
<% elsif experience %>
  <li class="panel panel-info" id="<%= experience.id %>">
    <div class='exp-dotdotdot <%= "exp-#{experience.id}" %>' data-experience_id='<%= experience.id %>' data-lat='<%= experience.latitude %>' data-lng='<%= experience.longitude %>'>
      <div class="experience-picture">
        <% if experience.experience_pictures.any? %>
          <%= image_tag experience.experience_pictures.sort_by {|pic| pic.id }.first.picture.url(:medium), class: "img-responsive" %>
        <% end %>
        <%= link_to modal_exp_path(trip.id, experience.id), remote: true, onclick:"ga('send', 'event', 'User/Guest', 'Experience Detail', 'User/Guest clicked on experience body from experience block');" do %>
          <div class="exp-rating">
            <span class="pull-left">
              <span class="average">
                <%= experience.average_rating %>
              </span>
              <span class="out-of">/</span>
              <span class="best">10</span>
              <br>
            </span>
          </div>
          <% if experience.must_see? %>
            <div class="must-see">
              <span class="pull-left">
                <i class="fa fa-star must-see"></i>
                <a id="must-see">Incontournable</a>
              </span>
            </div>
          <% end %>
          <% if experience.leader_reviews.any? %>
            <div class="exp-quote">
              <% if experience.leader_reviews.second %>
                "<%= experience.leader_reviews.second.comment %>"
                <br><em><%= experience.leader_reviews.second.source %></em>
                <br>
              <% else %>
                "<%= experience.leader_reviews.first.comment %>"
                <br><em><%= experience.leader_reviews.first.source %>
                <br>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="experience-selector">
          <span class="pull-right">
            <%= form_for([trip, TripExperience.new], remote: true) do |f| %>
              <%= f.hidden_field :experience_id, value: experience.id %>
              <%= f.button :submit, class: "btn btn-link" do %>
                <i class='fa fa-heart pull-right'></i>
                <a id="addtotrip" onclick="ga('send', 'event', 'User', 'Experience Add', 'User clicked on add experience from experience block');">Sélectionner</a>
              <% end %>
            <% end %>
          </span>
        </div>
        <%= link_to modal_exp_path(trip.id, experience.id), remote: true, onclick:"ga('send', 'event', 'User/Guest', 'Experience Detail', 'User/Guest clicked on experience body from experience block');" do %>
          <div class="experience-name">
            <small><%= experience.name %></small><i>Voir plus ?</i>
          </div>
        <% end %>
      </div>
    </div>
  </li>
<% elsif trip_comment %>
  <li class="panel panel-info" id="<%= trip_comment.id %>">
    <div class='exp-dotdotdot <%= "exp-#{trip_comment.id}" %>' data-experience_id='<%= trip_comment.id %>' data-lat='<%= trip_comment.latitude %>' data-lng='<%= trip_comment.longitude %>'>
      <div class="panel-heading" id="tripcom"><%= trip_comment.name %>

        <% unless guest_user %>
          <span class="pull-right">
            <!-- TODO:  Display comment even if added to trip with different action-->
            <% if trip_comment.add_to_trip %>
              <%= link_to [trip_comment.trip, trip_comment.experience.trip_experiences.last], remote: true, method: :delete do %>
                <i class="fa fa-heart pull-right"></i>
              <% end %>
            <% else %>
              <%= link_to experience_from_comment_path(trip_comment), remote: true, method: :post do %>
                <i class="fa fa-heart pull-right comment"></i>
              <% end %>
              <%= link_to [trip_comment.trip, trip_comment], remote: true, method: :delete do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            <% end %>
          </span>
        <% end %>
      </div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              <%= simple_format trip_comment.description %>
              <i><%= simple_format trip_comment.address %></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
<% end %>