<div id="experience-infowindow">
  <% if experience.experience_pictures.size > 0 %>
    <% if guest_user %>
      <%= link_to '', experience_detail_path(experience.id), remote: true, id:"link-to-detail" %>
    <% else %>
      <%= link_to '', modal_exp_path(trip.id, experience.id), remote: true, id:"link-to-detail" %>
    <% end %>
    <div id="owl-experiences" class="owl-carousel small text-center">
      <% experience.experience_pictures.sort_by {|pic| pic.id }.each do |pic| %>
          <div class="item">
            <%= image_tag(pic.picture.url(:small)) %>
          </div>
      <% end %>
    </div>
  <% end %>
  <% if experience.published %>
    <div class="rating">
      <span class="average">
        <%= experience.average_rating %>
      </span>
      <span class="out-of">/</span>
      <span class="best">10</span>
      <% unless guest_user %>
        <% if trip_experience %>
          <%= link_to [trip, trip_experience], remote: true, method: :delete do %>
            <span class="pull-right remove-from-trip"><i id='ib-remove-trip-exp' class="fa fa-heart"></i> <%= t('removefromtrip') %></span>
          <% end %>
        <% else %>
          <span class="pull-right">
            <%= form_for([trip, TripExperience.new], remote: true) do |f| %>
              <%= f.hidden_field :experience_id, value: experience.id %>
              <%= f.button :submit, class: "btn btn-link" do %>
                <i class='fa fa-heart'></i> <%= t('addtotrip') %>
              <% end %>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="infobox-content">
    <% if guest_user %>
      <%= link_to experience_detail_path(experience.id), remote: true do %>
        <%=experience.name%>
      <% end %>
    <% else %>
      <%= link_to modal_exp_path(trip.id, experience.id), remote: true do %>
        <%=experience.name%>
      <% end %>
    <% end %>
      <!-- TODO: Show directly modal with a data-toggle without waiting the controller-->
    <% unless experience.published %>
      <p>
        <small><i><%= experience.description %></i></small>
      </p>
    <% end %>
  </div>
</div>
