<div id="experience-infowindow">
  <% if experience.experience_pictures.size > 0 %>
    <div id="owl-experiences" class="owl-carousel small text-center">
      <% experience.experience_pictures.sort_by {|pic| pic.id }.each do |pic| %>
        <div class="item">
          <%= image_tag(pic.picture.url(:small)) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if experience.published %>
    <div class="rating">
      <span class="average">
        <%= experience.average_rating %>
      </span>
      <span class="out-of">/</span>
      <span class="best">10</span>
      <% if current_user || trip.token.nil? %>
        <span class="pull-right">
          <%= form_for([trip, TripExperience.new], remote: true) do |f| %>
            <%= f.hidden_field :experience_id, value: experience.id %>
            <%= f.submit t('addtotrip'), class: "fa" %>
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
  <div class="infobox-content text-center">
    <%= link_to experience_detail_path(experience.id), remote: true do %><i class="fa fa-search"></i><%=experience.name%>
    <% end %>
      <!-- TODO: Show directly modal with a data-toggle without waiting the controller-->
    <% unless experience.published %>
      <p>
        <small><i><%= experience.description %></i></small>
      </p>
    <% end %>
  </div>
</div>
