var tmpl =
'<li class="panel panel-info" id="<%= @trip_experience.id %>">' +
  '<div class="panel-heading"><%= @trip_experience.experience.name %>' +
    '<%= form_tag trip_trip_experience_path(@trip_experience.trip, @trip_experience), remote: true, method: :delete do %>'+
      '<%= submit_tag "", class: "fa fa-times pull-right" %>' +
    '<% end %>' +
  '</div>'+
  '<div class="panel-body"><%= @trip_experience.experience.description %></div>'+
'</li>';

$('#draggablePanelList').append(tmpl);

