$( document ).ready(function() {
  if (ibOpened) {
    ib.close();
    ibOpened = false;
  }
  $('#myExperienceModal').modal('hide');
  var map = handler.getMap();
  var url = window.location.href;
  if (url.toLowerCase().indexOf("explore_")>0) {
    requestDataFromAPI(<%= @trip.id %>, collectUserChoice(), false);
    $('.experience-block-container').append('<li> <h4><%= @trip_experience.experience.name %></h4><h5><%= @trip_experience.experience.timetospent %></h5> </li>');
  } else if (url.toLowerCase().indexOf("plan_my_trip")>0 && $('.tab-pane.active').prop('id')=='top-from-explorizers') {
    requestDataFromAPI(<%= @trip.id %>, collectUserChoice(), true);
  } else {
    if ($('#myTab').length > 0) {
      // demo liban
      var id = $('.tab-pane.active').prop('id');
      // demoListenToUserChoicesInsideSelection(<%= @trip.id %>, map);
      // console.log('create - before call to displayMarkersAccordingToUserChoicesInsideSelection');
      displayMarkersAccordingToUserChoicesInsideSelection(id, <%= @trip.id %>, map);
    } else {
      // Business As Usual
      if ($('tr#guests-comments').hasClass('menu-selected') || $('div#guests-comments').hasClass('menu-selected')) {
        setMapWithGuestComments(<%= @trip.id %>, map, function(r) {
          requestingMarkers = r;
        });
      } else {
        setMarkersAccordingToBounds(map, <%= @trip.id %>, function(r){
          requestingMarkers = r;
        });
      }
    }
  }
});

