<a class='destination-collapse' data-toggle='collapse' href='#collapseOverview' aria-expanded='false' aria-controls='collapseOverview'>
  <div id='overview' class='text-center destination-title'>
    <h2 class='no-margin'>A savoir avant de partir</h2>
    <p class='destination-tagline'>Informations générales, formalités entrée, climat</p>
  </div>
</a>
<div class='collapse' id='collapseOverview'>
  <div class='destination-content'>
    <%= raw destination.overview %>
  </div>
</div>
<a class="destination-collapse" data-toggle="collapse" href="#collapseMustSee" aria-expanded="false" aria-controls="collapseMustSee">
<div id="must-see" class="text-center destination-title">
  <h2 class="no-margin">Incontournables</h2>
  <p class="destination-tagline">Lieux et activités qui font l'unamité auprès des guides et voyageurs</p>
</div>
</a>
<div class="collapse" id="collapseMustSee">
<br>
<br>
  <div class="destination-content">
    <div class="container-fluid">
      <div class="row">
        <% Experience.where(destination: destination, must_see:true).each do |experience| %>
          <%= link_to modal_exp_path(trip.id, experience.id), remote: true, id: "must-see-img" do %>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
              <figcaption class="text-center"><%=experience.name%></figcaption>
              <%= image_tag experience.experience_pictures.sort_by {|pic| pic.id }.first.picture.url(:banner), class: "img-responsive" if experience.experience_pictures.first %>
              <div class="text-center hover-img"><%= experience.average_rating %><small> / 10</small></div>
            </figure>
            <br>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<a class="destination-collapse" data-toggle="collapse" href="#collapseRecommendedTrip" aria-expanded="false" aria-controls="collapseRecommendedTrip">
<div id="recommended-trip" class="text-center destination-title">
  <h2 class="no-margin">Itinéraires</h2>
  <p class="destination-tagline">Itinéraires conseillés en fonction de la durée de votre séjour</p>
</div>
</a>
<div class="collapse" id="collapseRecommendedTrip">
  <div class="destination-content">
    <% destination.recommended_trips.each do |recommended_trip| %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="destination-box-nobordertop">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="text-center"><%= recommended_trip.title %></h3>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-7">
                <%= raw recommended_trip.description %>
                <br>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="itinerary_image">
                  <%= image_tag recommended_trip.picture.url(:small)%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-spacer-xs"></div>
    <% end %>
  </div>
</div>