<body class="destinations">
  <div class="container">
    <div id="titleblock" class="text-center">
      <div class="title">
        <h2><%= t('.title', :default => "Destinations") %></h2>
        <h4><%= t('.destination_pitch') %><i><%= link_to t('.contribute'), new_experience_path %></i><%= t('.destination_pitch2') %></h4>
      </div>
    </div>
    <div class="vertical-spacer-xs"></div>
    <div id="destinations">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h4> <%= t('.destasia')+', ' %> <%= link_to 'Japon', explore_map_trip_path(Trip.create(title: 'Japon', query: 'Japon')), class: 'liban' %></h4><br>
          <h4> <%= t('.destafrica') %></h4><br>
          <h4> <%= t('.destamerica') %></h4><br>
          <h4>
            <%= t('.destmiddleeast') %>
            <% Destination.all.to_a.each do |destination|  %>
              <%=link_to destination.name, destination_path(destination), class: 'liban' %>
            <% end %>
          </h4>
          <br>
          <h4> <%= t('.desteurope') %></h4><br>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="tr-grey-bg">
            <% if user_signed_in? %>
            <%= form_for(Trip.new, html: { class: "form-inline" }) do |f| %>
              <div class="form-group minor-block" class="text-center">
                <%= f.hidden_field(:latitude) %>
                <%= f.hidden_field(:longitude) %>
                <%= f.search_field(:query, placeholder: t('.searchplaceholder'), required: true ) %>
                <%= f.submit( t('.searchbutton'), class: 'btn btn-info btn-sm') %>
              </div>
            <% end %>
            <% else %>
              <h4><%= link_to t('signup'), new_user_registration_path,  {class: "btn btn-info btn-lg"}%></h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-spacer"></div>
</body>

<%= render partial: 'shared/footer' %>


<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;key=AIzaSyCf77HD5LQkLbAcZWkBXKj-DLkXQJ9vHEc" %>
<% end %>
