<div id="start-planning" class="text-center">
  <%= link_to "Accéder à la carte interactive", trips_path(Trip.new, title: 'Liban'), method: :post, class:"btn btn-info btn-sm" %>
</div>

<div class="wrapper bg-white black">
  <a class="destination-collapse" data-toggle="collapse" href="#collapseOverview" aria-expanded="false" aria-controls="collapseOverview">
    <div id="overview" class="text-center destination-title">
      <h2 class="no-margin">A savoir avant de partir</h2>
      <p class="destination-tagline">Information générales, formalités d'entrée, climat</p>
    </div>
  </a>
  <div class="collapse" id="collapseOverview">
    <div class="destination-content">
      <h3 class="text-center">Le Liban en 5 phrases</h3>
      <br>
        <ol>
          <li><p>Le Liban est un <b>petit pays</b>: tous les poins d'intérêts sont à moins de 2h de route de Beyrouth.</p></li>
          <li><p>C'est un pays riche de <b><a href="http://fr.wikipedia.org/wiki/Histoire_du_Liban" target="_blank">5 000 ans d'histoire</a></b>, et de <b>diversité géographique</b>: dans une même journée, on peut skier le matin, déjeuner dans une vallée verdoyante, finir l'après-midi à la plage, et passer la soirée à Beyrouth.</p></li>
          <li><p>Sa spécificité tient également à sa <b>mosaïque culturelle et religieuse</b>, qui a donné lieu à de graves conflits, et qui fait du Liban un pays toujours <a href="http://fr.wikipedia.org/wiki/Liban#Les_tensions_entre_les_communaut.C3.A9s" target="_blank">sous tension</a>.</p></li>
          <li><p>Un pays où l'<b>on aime vivre vite</b>, tout de suite, et s'amuser: Beyrouth est la ville la plus festive du monde arabe, la <a href="http://fr.wikipedia.org/wiki/Cuisine_libanaise" target="_blank">gastronomie</a> est divine, la scène culturelle est florissante, et la musique fait référence dans tout le monde arabe.</p></li>
          <li><p>Le Liban, riche de son patrimoine et de son multiculturalisme, petit pays dans un environnement interne et voisin tendu, très ouvert sur le monde et assoiffé de progrès, est <b>un voyage marquant</b> et profondément attachant.</p></li>
        </ol>
      <br>
      <h3 class="text-center">Entrer au Liban</h3>
      <br>
      <ul>
        <li><p><b>Visa obligatoire</b> pour les Français, délivré à l'arrivée (passeport valable 6 mois minimum)</p></li>
        <li><p>Le <b>visa peut être refusé</b> si la douane découvre un passage antérieur (tampon israélien sur le passeport) ou futur (billets d'avion par exemple) en Israël.</p></li>
      </ul>
      <br>
      <h3 class="text-center">Quand visiter?</h3>
      <br>
      <ul>
        <li><p>En été: pas de pluie, températures confortables (20° à 30°C) - mais c'est la haute saison: il y a foule et les tarifs sont plus élevés</p></li>
        <li><p>Printemps et automne: plus frais, mais moins fréquenté et les hébergements sont moins chers</p></li>
        <li><p>En hiver: il fait frais (10-15°C) sur la côte, et il neige en altitude, les stations de ski vous attendent!</p></li>
      </ul>
      <br>
        <h3 class="text-center">Sécurité</h3>
        <br>
        <p>Le <a href="http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays/liban-12277/" target="_blank">Ministère français des Affaires étrangères</a> déconseille de se rendre dans le sud du pays (au sud de Tyr), près des frontières avec la Syrie, dans la Plaine de la Bekaa, dans les banlieues sud de Beyrouth, à Tripoli, et dans les camps de réfugiés palestiniens près de Saida. Rendez-vous sur <a href="http://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays/liban-12277/" target="_blank">diplomatie.gouv.fr</a> pour les informations les plus récentes.</p>
        <br>
        <h3 class="text-center">Comment circuler?</h3>
        <br>
        <p>Pas de transport aérien ni ferroviaire: tous les transports internes se font <b>par la route</b>:</p>
        <ul>
          <li><p>Taxis rattachés à des sociétés de taxi: il faut les appeler à l'avance; le tarif est déterminé par le compteur, ou en avance directement avec le chauffeur; on peut les réserver pour la journée</p></li>
          <li><p>Taxis sans compteur: le prix est fixé à l'avance par le conducteur; on peut les réserver pour la journée</p></li>
          <li><p>La location de voiture est abordable, mais la conduite est... sportive</p></li>
          <li><p>Le car: le réseau est vaste, bien organisé, et peu onéreux</p></li>
        </ul>
        <br>
        <h3 class="text-center">3 choses à savoir</h3>
        <br>
        <ol>
          <li><p>La monnaie officielle est la livre libanaise, mais le dollar US est largement accepté</p></li>
          <li><p>La langue officielle est l'arabe - l'anglais et le français sont très répandus</p></li>
          <li><p>Les prises électriques sont les mêmes qu'en France</p></li>
        </ol>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseMustSee" aria-expanded="false" aria-controls="collapseMustSee">
  <div id="must-see" class="text-center destination-title">
    <h2 class="no-margin">Incontournables</h2>
    <p class="destination-tagline">Lieux et activités qui font l'unamité auprès des guides et voyageurs</p>
  </div>
  </a>
  <div class="collapse" id="collapseMustSee">
  <br>
  <br>
     <div class="destination-content">
      <div class="container-fluid">
        <div class="row">
          <% Experience.where(destination: Destination.first, must_see:true).each do |experience| %>
            <%= link_to experience_detail_path(experience.id), remote: true, id: "must-see-img" do %>
              <div class="col-xs-12 col-sm-6 col-md-4">
              <figure>
                <figcaption class="text-center"><%=experience.name%></figcaption>
                <%= image_tag experience.experience_pictures.sort_by {|pic| pic.id }.first.picture.url(:banner), class: "img-responsive" if experience.experience_pictures.first %>
                <div class="text-center hover-img"><%= experience.average_rating %><small> / 10</small></div>
              </figure>
              <br>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseRecommendedTrip" aria-expanded="false" aria-controls="collapseRecommendedTrip">
  <div id="recommended-trip" class="text-center destination-title">
    <h2 class="no-margin">Itinéraires</h2>
    <p class="destination-tagline">Itinéraires conseillés en fonction de la durée de votre séjour</p>
  </div>
  </a>
  <div class="collapse" id="collapseRecommendedTrip">
     <div class="destination-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">

          <div class="destination-box-nobordertop">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="text-center">1. L'essentiel du Liban en 5-6 jours</h3>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-7">
                <p>Au total: 250km, 5h de route</p>
                <p>Les <b>faibles distances</b> et la <b>position centrale de Beyrouth</b> permettent de visiter le Liban tout en restant dans la capitale. La location d’une voiture ou la réservation d’un taxi sur la journée est facile et relativement bon marché.</p>
                <p>On peut diviser 5-6 de voyage au Liban, basé à Beyrouth, comme ceci:</p>
                <ul>
                  <li><p><b>2-3 jours à Beyrouth</b>, pour visiter le typique quartier d’Achrafieh, la Corniche, le Rawcheh, emblème de la ville, et passer la soirée à Gemmayzé ou rue Monnot</p></li>
                  <li><p><b>1 journée sur la côte nord</b>, incluant Jounieh et la magnifique vue depuis Notre-Dame du Liban, l’impressionnante Grotte de Jeita et la ville de Jbeil, tous ces sites étant très proches</p></li>
                  <li><p><b>1 jour dans le nord du pays</b>, jusqu’au village d'Ehden, pour randonner dans la vallée de Qadisha et voir les Cèdres de Dieu, emblèmes du pays</p></li>
                  <li><p><b>1 jour dans la vallée du Chouf</b>, pour visiter notamment les villages traditionnels de Beiteddine et Deir el Qamar, et pourquoi pas pousser jusqu’au vignoble de Kefraya pour une dégustation</p></li>
                </ul>
                <br>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="itinerary_image">
                  <%= image_tag 'itineraire_liban_1.png'%>
                </div>
              </div>
            </div>
            <p class="text-center">Retrouve cet itinéraire sur la <b>carte interactive du Liban</b> en bas de page</p>
          </div>
        </div>
      </div>

      <div class="vertical-spacer-xs"></div>

      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <div class="line-separator"></div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="destination-box-nobordertop">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="text-center">2. Le Liban incontournable et authentique en 1 semaine</h3>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-7">
                <p>Au total: 400 km, 8h de route</p>
                <ul>
                  <li><p><b>Jours 1, 2 et 3</b>: à Beyrouth, visitez le typique quartier d’Achrafieh, la Corniche et le Rawcheh", et passez la soirée rue Monnot.</p></li>
                  <li><p><b>Jour 4</b> (50km / 1h de route): quittez Beyrouth pour démarrer la journée avec l’impressionnante Grotte de Jeita. Rejoignez ensuite Jounieh, et montez en téléphérique vers Notre-Dame du Liban pour son point de vue époustouflant. Continuez vers le nord pour visiter Jbeil et y passer la nuit.</p></li>
                  <li><p><b>Jour 5</b> (80km / 1h30 de route): faites un passage par Batroun, puis continuez pour visiter Tripoli, et rendez-vous dans le village d'Ehden pour y passer la nuit.</p></li>
                  <li><p><b>Jour 6</b>: Autour d’Ehden, faites la randonnée dans la vallée de Qadisha, allez voir les Cèdres de Dieu et poussez éventuellement jusqu’au Qornet es Sawda, sommet du Liban. Restez dormir à Ehden.</p></li>
                  <li><p><b>Jour 7</b>: quittez Ehden tôt, traversez le Liban du nord au sud par les magnifiques routes de montagne (170km, 4h) pour passer l’après-midi dans la vallée du Chouf, notamment les villages de Deir el Qamar et Beiteddine. Puis retournez à Beyrouth boire un dernier verre à Gemmayzé!</p></li><br>
                </ul>
                <br>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="itinerary_image">
                  <%= image_tag 'itineraire_liban_2.png'%>
                </div>
              </div>
            </div>
            <p class="text-center">Retrouve cet itinéraire sur la <b>carte interactive du Liban</b> en bas de page</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" id="bottom-start-planning">
    <h2 class="text-center">Fini de lire? Commence à organiser ton voyage!</h2>
    <br>
    <%= link_to "Découvrir les meilleurs expériences pour le Liban", trips_path(Trip.new, title: 'Liban'), method: :post, class: "btn btn-info btn-lg" %>
    <br>
  </div>
</div>

<!-- Experience Modal to display -->
<div class="modal fade" id="myExperienceModal" tabindex="-1" role="dialog" aria-labelledby="myExperienceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title experience-title text-center" id="myExperienceModalLabel">Chargement...</h4>
      </div>
      <div class="modal-body experience-content">
      </div>
    </div>
  </div>
</div>