<div id="start-planning" class="text-center">
  <%= link_to explore_map_trip_path(Trip.create(title: @destination.name, query: @destination.name)), class: 'liban btn btn-info' do %>
    <i class="fa fa-map-marker"></i> Voir la carte
  <% end %>
</div>

<div class="wrapper bg-white black">
  <div class="destination-banner">
    <%= image_tag @destination.destination_pictures.first.picture.url(:banner) %>
    <h1><%= @destination.name.capitalize %></h1>
  </div>
  <div class="destination-content">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
        <h3 class="text-center"><%= @destination.intro_title %></h3>
        <br>
          <ol>
            <li><%= simple_format @destination.sentence1 %></p></li>
            <li><%= simple_format @destination.sentence2 %></li>
            <li><%= simple_format @destination.sentence3 %></li>
            <li><%= simple_format @destination.sentence4 %></li>
            <li><%= simple_format @destination.sentence5 %></li>
          </ol>
        <br>
      </div>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseOverview" aria-expanded="false" aria-controls="collapseOverview">
    <div id="overview" class="text-center">
      <%= image_tag @destination.destination_pictures.second.picture.url(:banner) %>
      <h2 class="no-margin">A savoir avant de partir</h2>
<!--       <p class="destination-tagline">Informations générales, formalités d'entrée, climat</p> -->
    </div>
  </a>
  <div class="collapse" id="collapseOverview">
    <div class="destination-content">
      <div class="row text-center">
        <small>Dernière mise à jour : <%= @destination.updated_at.strftime('%d-%m-%Y') %></small><br>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
          <h3 class="text-center"><%= simple_format @destination.enter_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.enter_line1 %></p></li>
            <% if @destination.enter_line2.length > 0 %>
              <li><p><%= simple_format @destination.enter_line2 %></p></li>
            <% end %>
            <% if @destination.enter_line3.length > 0 %>
              <li><p><%= simple_format @destination.enter_line3 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.visit_time_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.visit_line1 %></p></li>
            <% if @destination.visit_line2.length > 0 %>
              <li><p><%= simple_format @destination.visit_line2 %></p></li>
            <% end %>
            <% if @destination.visit_line3.length > 0 %>
              <li><p><%= simple_format @destination.visit_line3 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.security_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.security_line1 %></p></li>
            <% if @destination.security_line2.length > 0 %>
              <li><p><%= simple_format @destination.security_line2 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.transport_title %></h3>
          <br>
          <ul>
            <li><p><%= simple_format @destination.transport_line1 %></p></li>
            <% if @destination.transport_line2.length > 0 %>
              <li><p><%= simple_format @destination.transport_line2 %></p></li>
            <% end %>
            <% if @destination.transport_line3.length > 0 %>
              <li><p><%= simple_format @destination.transport_line3 %></p></li>
            <% end %>
            <% if @destination.transport_line4.length > 0 %>
              <li><p><%= simple_format @destination.transport_line4 %></p></li>
            <% end %>
            <% if @destination.transport_line5.length > 0 %>
              <li><p><%= simple_format @destination.transport_line5 %></p></li>
            <% end %>
          </ul>
          <br>
          <h3 class="text-center"><%= simple_format @destination.toknow_title %></h3>
          <br>
          <ol>
            <li><p><%= simple_format @destination.toknow_line1 %></p></li>
            <% if @destination.toknow_line2.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line2 %></p></li>
            <% end %>
            <% if @destination.toknow_line3.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line3 %></p></li>
            <% end %>
            <% if @destination.toknow_line4.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line4 %></p></li>
            <% end %>
            <% if @destination.toknow_line5.length > 0 %>
              <li><p><%= simple_format @destination.toknow_line5 %></p></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseMustSee" aria-expanded="false" aria-controls="collapseMustSee">
  <div id="must-see" class="text-center">
    <%= image_tag @destination.destination_pictures.third.picture.url(:banner) %>
    <h2 class="no-margin">Que voir et que faire ?</h2>
<!--     <p class="destination-tagline">Lieux et activités qui font l'unanimité auprès des guides et voyageurs</p> -->
  </div>
  </a>
  <div class="collapse" id="collapseMustSee">
  <br>
  <br>
     <div class="destination-content">
      <div class="container-fluid">
        <div class="row text-center">
          <p>Les expériences incontournables</p>
          <% Experience.where(destination: @destination, published:true, must_see:true, landing_point:false).each do |experience| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="experience-box">
                <%= link_to experience_detail_path(experience.id), remote: true do %>
                  <div class="experience-picture text-center">
                    <% if experience.experience_pictures.first %>
                      <%= image_tag experience.experience_pictures.first.picture.url(:medium), class: "img-responsive" %>
                    <% end %>
                  </div>
                  <div class="experience-name text-center">
                    <small><%= experience.name %></small><br>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <br><br><br>
        <div class="row text-center">
          <p>Toutes les expériences</p>
          <% Experience.where(destination: @destination, published:true, must_see:false, landing_point:false).each do |experience| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="experience-box">
                <%= link_to experience_detail_path(experience.id), remote: true do %>
                  <div class="experience-picture text-center">
                    <% if experience.experience_pictures.first %>
                      <%= image_tag experience.experience_pictures.first.picture.url(:medium), class: "img-responsive" %>
                    <% end %>
                  </div>
                  <div class="experience-name text-center">
                    <small><%= experience.name %></small><br>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a class="destination-collapse" data-toggle="collapse" href="#collapseRecommendedTrip" aria-expanded="false" aria-controls="collapseRecommendedTrip">
  <div id="recommended-trip" class="text-center destination-title">
    <%= image_tag @destination.destination_pictures.fourth.picture.url(:banner) %>
    <h2 class="no-margin">Itinéraires conseillés</h2>
<!--     <p class="destination-tagline">Sélectionnez un itinéraire à personnaliser</p> -->
  </div>
  </a>
  <div class="collapse" id="collapseRecommendedTrip">
    <div class="destination-content">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
          <% RecommendedTrip.where(destination_id: @destination.id).sort_by {|rc| rc.id }.each do |rec_trip| %>
            <div class="destination-box-nobordertop">
              <div class="row">
                <div class="col-xs-12">
                  <h3 class="text-center"><%= rec_trip.title %></h3><br>
                  <p><%= rec_trip.description %></p>
                  <div class="itinerary_image text-center">
                    <%= image_tag rec_trip.picture.url(:banner) %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9">
                  <ul>
                    <li><p><%= raw(rec_trip.step_1) %></p></li>
                    <li><p><%= raw(rec_trip.step_2) %></p></li>
                    <% if rec_trip.step_3.length > 0 %>
                      <li><p><%= raw rec_trip.step_3 %></p></li>
                    <% end %>
                    <% if rec_trip.step_4.length > 0 %>
                      <li><p><%= raw rec_trip.step_4 %></p></li>
                    <% end %>
                    <% if rec_trip.step_5.length > 0 %>
                      <li><p><%= raw rec_trip.step_5 %></p></li>
                    <% end %>
                    <% if rec_trip.step_6.length > 0 %>
                      <li><p><%= raw rec_trip.step_6 %></p></li>
                    <% end %>
                    <% if rec_trip.step_7.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_7 %></p></li>
                    <% end %>
                    <% if rec_trip.step_8.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_8 %></p></li>
                    <% end %>
                    <% if rec_trip.step_9.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_9 %></p></li>
                    <% end %>
                    <% if rec_trip.step_10.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_10 %></p></li>
                    <% end %>
                    <% if rec_trip.step_11.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_11 %></p></li>
                    <% end %>
                     <% if rec_trip.step_12.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_12 %></p></li>
                    <% end %>
                    <% if rec_trip.step_13.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_13 %></p></li>
                    <% end %>
                    <% if rec_trip.step_14.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_14 %></p></li>
                    <% end %>
                    <% if rec_trip.step_15.length > 0 %>
                      <li><p><%= simple_format rec_trip.step_15 %></p></li>
                    <% end %>
                  </ul>
                  <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <div class="itinerary_image">
                    <%= image_tag rec_trip.recommended_trip_experiences.first.experience.experience_pictures.first.picture.url(:small) %>
                    <br><br>
                    <%= image_tag rec_trip.recommended_trip_experiences.second.experience.experience_pictures.first.picture.url(:small) %>
                    <br><br>
                    <% if rec_trip.step_6.length > 0 %>
                      <%= image_tag rec_trip.recommended_trip_experiences.fifth.experience.experience_pictures.first.picture.url(:small) %>
                      <br><br>
                    <% end %>
                    <% if rec_trip.step_9.length > 0 %>
                      <%= image_tag rec_trip.recommended_trip_experiences[7].experience.experience_pictures.first.picture.url(:small) %>
                      <br><br>
                    <% end %>
                    <% if rec_trip.step_11.length > 0 %>
                      <%= image_tag rec_trip.recommended_trip_experiences[9].experience.experience_pictures.first.picture.url(:small) %>
                      <br><br>
                    <% end %>
                    <% if rec_trip.step_13.length > 0 %>
                      <%= image_tag rec_trip.recommended_trip_experiences[11].experience.experience_pictures.first.picture.url(:small) %>
                      <br><br>
                    <% end %>
                    <%= image_tag rec_trip.recommended_trip_experiences.last.experience.experience_pictures.first.picture.url(:small) %>
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
                <div id="block-separator">
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>

<!-- Experience Modal to display -->
<div class="modal fade" id="myExperienceModal" tabindex="-1" role="dialog" aria-labelledby="myExperienceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title experience-title text-center" id="myExperienceModalLabel">Chargement...</h4>
      </div>
      <div class="modal-body experience-content">
      </div>
    </div>
  </div>
</div>