<div id="experience-infowindow">
  <div class="comment-name">
    <%= trip_comment.name %>
    <i><%= t('guest_comment_added') if trip_comment.add_to_trip %></i>
  </div>
  <div class="comment-content">
    <%= simple_format trip_comment.description %>
  </div>
  <div class="comment-address">
    <%= simple_format trip_comment.address %>
  </div>
  <div class="infobox-content">
    <% unless trip_comment.add_to_trip %>
      <% unless guest_user %>
        <div class="comment-btn list-unstyled">
          <%= link_to experience_from_comment_path(trip_comment), remote: true, method: :post do %>
            <i class="fa fa-heart"></i> <small><%= t('trip_comment_add') %></small>
          <% end %>
        </div>
      <% end %>
      <div class="comment-btn list-unstyled">
        <%= link_to [trip_comment.trip, trip_comment], remote: true, method: :delete do %>
          <i class="fa fa-trash-o"></i> <small><%= t('trip_comment_delete') %></small>
        <% end %>
      </div>
    <% end %>
  </div>
</div>