<!DOCTYPE html>
<html>
<head>
  <title>Philae</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>

  <%= render partial: "shared/navbar" %>
  <div class="wrapper">
    <div class="container">

      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>
  </div>


  <%= yield(:before_js) %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>

</body>
</html>
