<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield_with_default(:title, "Explorizers | Travel like no other") %>
    </title>
    <meta name="description" content="<%= yield_with_default(:description,"Explorizers is the best easy-to-use plateform for discovering inspiring places around the world")%>" >

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :map_css %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <% if @trip %>
      <meta property="og:title" content="Filez vos bons plans de voyage !" />
      <meta property="og:site_name" content="explorizers.com" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="http://www.explorizers.com/trips/<%= "#{@trip.id}/#{@trip.token}" %>" />
      <meta property="og:image" content="http://unsplash.imgix.net/uploads/1412231250505b65c703c/1fa14fb0?dpr=0.33&fit=crop&fm=jpg&h=700&q=75&w=1075" />
      <meta property="og:description" content="Explorizers est fait pour les voyageurs qui font confiance à leurs amis pour leur conseiller des expériences extraordinaires et leur faire découvrir des lieux uniques." />
    <% end %>
  </head>
  <body>

    <%= render partial: "layouts/flash" %>
    <%= render yield_with_default(:navbar, "shared/navbar") %>

    <%= yield %>

    <div id="fb-root"></div>
    <%= yield(:before_js) %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
