<!DOCTYPE html>
<html>
  <head>
<!--   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# explorizers: http://ogp.me/ns/fb/explorizers#"> -->
    <title>
      <%= yield_with_default(:title, "Explorizers | Le voyage inspiré et partagé") %>
    </title>
    <meta name="description" content="<%= yield_with_default(:description,"Avec Explorizers, simplifiez la préparation de votre voyage, avec les conseils de vos amis, d'autres voyageurs et de professionnels.")%>" >
    <meta name="p:domain_verify" content="852a947bbf6d9d4c38ef54cf6ff7422b"/>
    <% if @trip %>
      <meta property="og:title" content="Vos conseils pour mon voyage" />
      <meta property="og:site_name" content="Explorizers" />
      <meta property="og:type" content="explorizers:trip" />
      <meta property="og:url" content="http://www.explorizers.com/trips/<%= "#{@trip.id}/#{@trip.token}" %>" />
      <meta property="og:image" content="http://philae-floju.s3.amazonaws.com/explorizers_cover.png" />
      <meta property="og:description" content="Votre ami(e) prépare son voyage sur Explorizers, et l'a posté sur Facebook pour avoir vos conseils. Cliquez sur le lien, visualisez sa carte de voyage et donnez-lui vos meilleurs plans!"/>
    <% end %>
    <% if @experience %>
      <% if @experience.name %>
        <meta property="og:image" content="<%= "#{@experience.experience_pictures.first.picture.url}" %>" />
      <% end %>
    <% else %>
      <meta property="og:image" content="http://philae-floju.s3.amazonaws.com/explorizers_cover.png" />
    <% end %>
    <meta property="og:image:width" content="300" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :navbar_hp_css %>
    <%= yield :map_css %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=351072325084597&amp;ev=PixelInitialized" /></noscript>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '351072325084597']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <%= yield :registration_scripts %>
    <!-- Hotjar Tracking Code for www.explorizers.com -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:60187,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

  </head>
  <body>
    <!-- Qualaroo for explorizers.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
    <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = '//s3.amazonaws.com/ki.js/60130/dxx.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=476354419169210";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

    <% if flash.any? %>
      <%= render partial: "layouts/flash" %>
    <% end %>
    <%= render 'shared/navbar' %>

    <%= yield %>
    <!-- Modal Sign Up-->
    <div class="modal fade" id="mySignUpModal" tabindex="-1" role="dialog" aria-labelledby="mySignUpModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Inscrivez-vous pour continuer</h4>
          </div>
          <div class="modal-body">
            <%= render "devise/shared/sign_up_form" %>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Sign ip-->
    <div class="modal fade" id="mySignInModal" tabindex="-1" role="dialog" aria-labelledby="mySignInModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Connectez-vous pour continuer</h4>
          </div>
          <div class="modal-body">
            <%= render "devise/shared/sign_in_form" %>
          </div>
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    <%= yield(:before_js) %>
    <%= javascript_include_tag 'application' %>
    <%= yield (:map_js) %>
    <%= yield(:after_js) %>
    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('7686-785-10-5681');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7686-785-10-5681/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->
  </body>
</html>
